{% extends "src/ds/layout.html" %}

{% block content %}

<section class="ds">
  <div class="ds__container">
    <h1>Table</h1>
    <div class="ds__item bs-row">
      <div class="bs-col-8">
        <p>This table is built on top of <a href="https://getbootstrap.com/docs/5.0/content/tables/">Bootstrap tables</a> and is used on a dashboard.</p>
        <select class="form-select" id="js-select-class" aria-label="Change table options">
          <option value="db-item--budget" selected>Budget</option>
          <option value="db-item--costs">Costs</option>
        </select>
      </div>
    </div>
    <div class="ds__item ds__item--light ds__item--center bs-row">
      <div class="bs-col-8" id="jsDashboardTable">
        <div class="db-item db-item--budget">
          <div class="db-item__title">Budget vom RLI</div>
          <div>
            <table class="db-table db-table--fixed db-table--standard">
              <thead class="db-table__head">
                <tr class="db-table__tr db-table__tr--large">
                  <th scope="col" class="db-table__th"></th>
                  <th scope="col" class="db-table__th db-table__th--bg">Jahresbudget</th>
                  <th scope="col" class="db-table__th db-table__th--bg">Kosten</th>
                </tr>
              </thead>
              <tbody class="db-table__body">
                <tr class="db-table__tr">
                  <th scope="row" class="db-table__th">
                    Eigenmittel
                    <span title="This is an info text about the current table">
                      <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-info-circle" viewBox="0 0 16 16">
                        <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
                        <path d="m8.93 6.588-2.29.287-.082.38.45.083c.294.07.352.176.288.469l-.738 3.468c-.194.897.105 1.319.808 1.319.545 0 1.178-.252 1.465-.598l.088-.416c-.2.176-.492.246-.686.246-.275 0-.375-.193-.304-.533L8.93 6.588zM9 4.5a1 1 0 1 1-2 0 1 1 0 0 1 2 0z"/>
                      </svg>
                    </span>
                  </th>
                  <td class="db-table__td">15.487 €</td>
                  <td class="db-table__td">47.842 €</td>
                </tr>
                <tr class="db-table__tr">
                  <th scope="row" class="db-table__th">
                    Teambudget (80x)
                    <span title="This is an info text about the current table">
                      <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-info-circle" viewBox="0 0 16 16">
                        <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
                        <path d="m8.93 6.588-2.29.287-.082.38.45.083c.294.07.352.176.288.469l-.738 3.468c-.194.897.105 1.319.808 1.319.545 0 1.178-.252 1.465-.598l.088-.416c-.2.176-.492.246-.686.246-.275 0-.375-.193-.304-.533L8.93 6.588zM9 4.5a1 1 0 1 1-2 0 1 1 0 0 1 2 0z"/>
                      </svg>
                    </span>
                    <span class="db-table__link" title="Zum Teambudget">
                      <a href="#">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-right-circle-fill" viewBox="0 0 16 16">
                          <path d="M8 0a8 8 0 1 1 0 16A8 8 0 0 1 8 0zM4.5 7.5a.5.5 0 0 0 0 1h5.793l-2.147 2.146a.5.5 0 0 0 .708.708l3-3a.5.5 0 0 0 0-.708l-3-3a.5.5 0 1 0-.708.708L10.293 7.5H4.5z"/>
                        </svg>
                      </a>
                    </span>
                  </th>
                  <td class="db-table__td">182.000 €</td>
                  <td class="db-table__td">1.872 €</td>
                </tr>
                <tr class="db-table__tr db-table__tr--light">
                  <th scope="row" class="db-table__th">
                    (Abbau Überschüsse)
                    <span title="This is an info text about the current table">
                      <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-info-circle" viewBox="0 0 16 16">
                        <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
                        <path d="m8.93 6.588-2.29.287-.082.38.45.083c.294.07.352.176.288.469l-.738 3.468c-.194.897.105 1.319.808 1.319.545 0 1.178-.252 1.465-.598l.088-.416c-.2.176-.492.246-.686.246-.275 0-.375-.193-.304-.533L8.93 6.588zM9 4.5a1 1 0 1 1-2 0 1 1 0 0 1 2 0z"/>
                      </svg>
                    </span>
                  </th>
                  <td class="db-table__td">146.000 €</td>
                  <td class="db-table__td">24.024 €</td>
                </tr>
                <tr class="db-table__tr db-table__tr--no-border db-table__tr--large">
                  <th scope="row" class="db-table__th db-table__th--bold">Summe</th>
                  <td class="db-table__td db-table__td--bg db-table__td--bold">232.578 €</td>
                  <td class="db-table__td db-table__td--bg db-table__td--bold">72.845 €</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
    <div class="ds__item ds__item--code bs-row">
      <div class="bs-col">
        <pre>
          <code id="js-table-code"></code>
        </pre>
      </div>
    </div>
  </div>
</section>

{% endblock %}

{% block js %}
<script type="module" src="/ds/table/index.js"></script>
{% endblock %}