{% extends "src/ds/layout.html" %}

{% block content %}

<div class="ds__container">
  <h1>Design tokens</h1>
  <div class="ds__item bs-row">
    <div class="bs-col-8">
      <p>With design tokens we want to create a clear design structure that can be used by both designers and developers across projects. They are still in test phase and need be updated but they already can be used. To know more about design tokens, please read <a href="https://www.invisionapp.com/inside-design/design-tokens/">this article from InVision</a>.</p>
      <p>The tokens are constructed as following: <code>category.usage.component.subitem.state</code> whereas <code>subitem</code> and <code>state</code> are optional.</p>
      <p>Since our CSS structure heavily relies on <code>@extend</code> in order to properly combine BEM and Bootstrap, the tokens are related to both Bootstrap CSS variables and utility classes.</p>
    </div>
    <div class="bs-col">
      <table class="dt-table">
        <thead>
          <tr>
            <th scope="col">Token</th>
            <th scope="col">Role</th>
            <th scope="col">Variable</th>
            <th scope="col">Utility</th>
          </tr>
        </thead>
        <tbody id="js-dtTable">
        </tbody>
      </table>
    </div>
  </div>
</div>

{% endblock %}

{% block js %}
<script type="module" src="/ds/design-tokens/index.js"></script>
{% endblock %}