{% extends "src/charts/layout.html" %}

{% block content %}
  <h1>Charts</h1>
  <div id="overview" style="width: 400px;height:400px;"></div>
  <div id="detailed_overview" style="width: 400px;height:400px;"></div>
  <div id="Overview_generation" style="width: 400px;height:400px;"></div>
  <div id="GHG_overview" style="width: 400px;height:400px;"></div>
  <div id="overview_comparison" style="width: 400px;height:400px;"></div>
  <div id="strom_overview" style="width: 400px;height:400px;"></div>
    <a href="/"><button type="button" class="btn btn-primary">go back...</button></a> <!-- button -->
{% endblock %}


{% block js %}
<script type="module" src="/charts/main.js"></script>
{% endblock %}

