{% extends "src/charts/layout.html" %}

{% block content %}
  <h1>Charts</h1>
  <div id="overview" style="width: 400px;height:400px;"></div>
  <div id="detailed_overview" style="width: 400px;height:400px;"></div>
  <div id="detailed_overview_grouped" style="width: 400px;height:400px;"></div>
  <div id="Overview_generation" style="width: 400px;height:400px;"></div>
  <div id="GHG_overview" style="width: 400px;height:400px;"></div>
  <div id="overview_comparison" style="width: 400px;height:400px;"></div>
  <div id="strom_overview" style="width: 400px;height:400px;"></div>
  <div id="strom_THG" style="width: 400px;height:400px;"></div>
  <div id="verkehr_overview" style="width: 400px;height:400px;"></div>
  <div id="verkehr_thg" style="width: 400px;height:400px;"></div>
  <div id="anteil_ee" style="width: 400px;height:400px;"></div>
  <div id="co2_emissionen" style="width: 400px;height:400px;"></div>
  <div id="waerme_overview_option" style="width: 400px;height:400px;"></div>
  <div id="waerme_dezentral_zentral" style="width: 400px;height:400px;"></div>
  <div id="thg_new_waterfall_option" style="width: 400px;height:400px;"></div>
    <a href="/"><button type="button" class="btn btn-primary">go back...</button></a> <!-- button -->
{% endblock %}


{% block js %}
<script type="module" src="/charts/main.js"></script>
{% endblock %}

