.db-header {
  @extend .navbar;
  @extend .navbar-light;
  @extend .sticky-top; 
  @extend .flex-md-nowrap; 
  @extend .p-0;
  @extend .bg-light;

  &__name {
    @extend .navbar-brand;
    @extend .col-lg-3; 
    @extend .me-0; 
    @extend .px-3;
    @extend .h-100;

    @include media-breakpoint-up(lg) {
      max-width: 18rem;
      background-color: $white;
    }
  }

  &__toggler {
    @extend .navbar-toggler; 
    @extend .position-absolute;
    @extend .d-lg-none;
    @extend .end-0;
  }

  &__toggler-icon {
    @extend .navbar-toggler-icon;
  }

  &__nav {
    @extend .navbar-nav;
    margin-right: 4rem;

    @include media-breakpoint-up(lg) {
      margin-right: 0;
    }

    &-item {
      @extend .nav-item;
      @extend .text-nowrap;
    }

    &-link {
      @extend .nav-link;
      @extend .px-3;
    }
  }
}

.db-container {
  @extend .flex-lg-grow-1;
  @extend .bg-light;

  &__row {
    @extend .row;
    @extend .d-md-flex;
    @extend .flex-lg-row;
    @extend .mx-0;

    @include media-breakpoint-up(lg) {
      min-height: 100%;
    }
  }
}

.db-sidebar {
  @extend .col-lg-3;
  @extend .d-lg-block;
  @extend .collapse;
  @extend .bg-white;
  @extend .shadow;

  @include media-breakpoint-up(lg) {
    max-width: $c-sidebar-width;
    position: fixed;
    height: 100%;
  }

  &__sticky {
    @extend .position-sticky;
    @extend .pt-0;
  }

  &__logo {
    background-image: url(/static/logos/RMS_logo_notitle.svg);
    background-position: center;
    background-size: 6rem;
    background-repeat: no-repeat;
    height: 3rem;
    @extend .mb-5;
  }
}

.db-sidebarnav {
  @extend .nav; 
  @extend .flex-column;
  @extend .mb-4;

  &__item {
    @extend .nav-item;
  }

  &__link {
    @extend .nav-link;
    @extend .link-primary;

    &--active,
    &--active:hover,
    &--active:active,
    &--active:focus {
      @extend .link-light;
      @extend .bg-primary;
      border-radius: $border-radius;
    }

    svg {
      @extend .me-1;
      transform: translateY(-2px);
    }

    
  }
}

.db-main {
  @extend .ms-sm-auto; 
  @extend .col-lg-9; 
  @extend .px-md-4;
  @extend .flex-lg-grow-1;
  @extend .bg-light;

  @include media-breakpoint-up(lg) {
    margin-left: $c-sidebar-width !important;
  }
}

.db-topnav {
  @extend .container;
  @extend .d-flex; 
  @extend .justify-content-between;
  @extend .flex-wrap;
  @extend .flex-md-nowrap;
  @extend .align-items-center;
  @extend .pt-1;
  @extend .pb-2;
  @extend .mb-3;

  &__header {
    @extend .h2;
  }

  &__options {
    .nav-link {
      @extend .link-primary;
    }
  }

  &__tabs {
    @extend .nav;
    @extend .nav-tabs;
  }

  &__item {
    @extend .nav-item;
  }

  &__link {
    @extend .nav-link;
  }

  &__lang {
    @extend .btn-toolbar;
    @extend .mb-2;
    @extend .mb-md-0;
  }
}

.db-content {
  @extend .container;
  @extend .pb-5;

  &__row {
    @extend .row;
  }

  &__col {
    &--5 {
      @extend .col-xl-5;
    }

    &--7 {
      @extend .col-xl-7;
    }
  }
}

.db-item {
  @extend .bg-white;
  @extend .rounded;
  @extend .shadow-sm;

  &__title {
    @extend .p-2;
    @extend .pt-3;
    @extend .border-bottom;
    @extend .border-light;
    @extend .fw-bold;
  }

  &__content {
    @extend .px-2;
    @extend .py-4;
  }
}

.db-diff {
  @extend .row;
  @extend .pb-5;

  &__col {
    @extend .col-6;
  }

  &__text {
    @extend .text-center;
    @extend .fs-7;
    @extend .lh-sm;
    @extend .pb-2;
  }

  &__total {
    @extend .p-1;
    @include diff-is-forecast;
  }
}

.db-chart {
  @extend .pb-4;
}

.db-diff-table {
  @extend .row;
  @extend .px-2;
}