.ds {
  @extend .d-flex;
  @extend .justify-content-center;
  @extend .py-5;

  &__container {
    @extend .container;
    @extend .d-flex;
    @extend .flex-column;
  }

  &__item {
    @extend .pb-4;
  }

  &__colors {

    .sample {
      @extend .d-flex;
      @extend .justify-content-center;
      @extend .align-items-center;
      color: $white;
      height: 2rem;

      &--blue {
        background-color: $blue;
        height: 6rem;
      }

      &--black {
        background-color: $black;
      }

      &--white {
        background-color: $white;
        color: $blue;
      }

      &--gray-900 {
        background-color: $gray-900;
      }

      &--gray-800 {
        background-color: $gray-800;
      }

      &--gray-700 {
        background-color: $gray-700;
      }

      &--gray-600 {
        background-color: $gray-600;
      }

      &--gray-500 {
        background-color: $gray-500;
      }

      &--gray-400 {
        background-color: $gray-400;
      }

      &--gray-300 {
        background-color: $gray-300;
        color: $blue;
      }

      &--gray-200 {
        background-color: $gray-200;
        color: $blue;
      }

      &--gray-100 {
        background-color: $gray-100;
        color: $blue;
      }

      // colors need to be updated
      &--c-color-blue-900 {
        @include c-colors($blue-900, $white);
      }

      &--c-color-blue-800 {
        @include c-colors($blue-800, $white);
      }

      &--c-color-blue-700 {
        @include c-colors($blue-700, $white);
      }

      &--c-color-blue-600 {
        @include c-colors($blue-600, $white);
      }

      &--c-color-blue-500 {
        @include c-colors($blue-500, $white);
      }

      &--c-color-blue-400 {
        @include c-colors($blue-400, $white);
      }

      &--c-color-blue-300 {
        @include c-colors($blue-300, $black);
      }

      &--c-color-blue-200 {
        @include c-colors($blue-200, $black);
      }

      &--c-color-blue-100 {
        @include c-colors($blue-100, $black);
      }

      &--c-color-green-900 {
        @include c-colors($green-900, $white);
      }

      &--c-color-green-800 {
        @include c-colors($green-800, $white);
      }

      &--c-color-green-700 {
        @include c-colors($green-700, $white);
      }

      &--c-color-green-600 {
        @include c-colors($green-600, $white);
      }

      &--c-color-green-500 {
        @include c-colors($green-500, $white);
      }

      &--c-color-green-400 {
        @include c-colors($green-400, $black);
      }

      &--c-color-green-300 {
        @include c-colors($green-300, $black);
      }

      &--c-color-green-200 {
        @include c-colors($green-200, $black);
      }

      &--c-color-green-100 {
        @include c-colors($green-100, $black);
      }

      &--c-color-yellow-900 {
        @include c-colors($yellow-900, $white);
      }

      &--c-color-yellow-800 {
        @include c-colors($yellow-800, $white);
      }

      &--c-color-yellow-700 {
        @include c-colors($yellow-700, $white);
      }

      &--c-color-yellow-600 {
        @include c-colors($yellow-600, $white);
      }

      &--c-color-yellow-500 {
        @include c-colors($yellow-500, $black);
      }

      &--c-color-yellow-400 {
        @include c-colors($yellow-400, $black);
      }

      &--c-color-yellow-300 {
        @include c-colors($yellow-300, $black);
      }

      &--c-color-yellow-200 {
        @include c-colors($yellow-200, $black);
      }

      &--c-color-yellow-100 {
        @include c-colors($yellow-100, $black);
      }

      &--c-color-red-900 {
        @include c-colors($red-900, $white);
      }

      &--c-color-red-800 {
        @include c-colors($red-800, $white);
      }

      &--c-color-red-700 {
        @include c-colors($red-700, $white);
      }

      &--c-color-red-600 {
        @include c-colors($red-600, $white);
      }

      &--c-color-red-500 {
        @include c-colors($red-500, $white);
      }

      &--c-color-red-400 {
        @include c-colors($red-400, $black);
      }

      &--c-color-red-300 {
        @include c-colors($red-300, $black);
      }

      &--c-color-red-200 {
        @include c-colors($red-200, $black);
      }

      &--c-color-red-100 {
        @include c-colors($red-100, $black);
      }
    }
  }
}