{% extends "src/onboarding/layout.html" %}

{% block content %}
<main class="flex-shrink-0">
  User: ds dsd<br>
  DB-Zugang: True<br>
  Nextcloud-Zugang: False<br>
  PC-Setup: False<br>
  OS: Windows<br>
  Zusätzliche Software: rgrg<br>
  Mailinglisten:<br>
  <ul>

    <li>Team EEMob MA</li>

  </ul>
  Projekt-Zugänge:<br>
  <ul>

    <li>
      307_Berlin_pariskonform
      <table>
        <tr><td>Akquise</td><td>NoApproval</td></tr>
        <tr><td>Projektsteuerung</td><td>NoApproval</td></tr>
        <tr><td>Projektinhalte</td><td>NoApproval</td></tr>
        <tr><td>Berichte</td><td>NoApproval</td></tr>
        <tr><td>OEA</td><td>NoApproval</td></tr>
        <tr><td>Bilder</td><td>NoApproval</td></tr>
        <tr><td>Präsentation</td><td>NoApproval</td></tr>
        <tr><td>Know-How</td><td>NoApproval</td></tr>
        <tr><td>Stud_ordner</td><td>NoApproval</td></tr>
      </table>
    </li>

    <li>
      802_Teambudget_OffGrid
      <table>
        <tr><td>Akquise</td><td>NoApproval</td></tr>
        <tr><td>Projektsteuerung</td><td>NoApproval</td></tr>
        <tr><td>Projektinhalte</td><td>NoApproval</td></tr>
        <tr><td>Berichte</td><td>NoApproval</td></tr>
        <tr><td>OEA</td><td>NoApproval</td></tr>
        <tr><td>Bilder</td><td>NoApproval</td></tr>
        <tr><td>Präsentation</td><td>Read</td></tr>
        <tr><td>Know-How</td><td>NoApproval</td></tr>
        <tr><td>Stud_ordner</td><td>NoApproval</td></tr>
      </table>
    </li>

  </ul>
</main>
{% endblock content %}
