{% extends "src/onboarding/layout.html" %}

{% block content %}
<main class="flex-shrink-0">
    <div class="container">
      <div class="row">
        <div >
          <div  >
            <h3>Eintritt Details</h3>
            <div class="details">
              <ul >
                <li><span class="title-detail">UserName:</span> <span >majd rekik</span></li>
                <li><span class="title-detail">Tätigkeitsbeschreibung:</span> <span >working student</span></li>
                <li><span class="title-detail">Beginn:</span> <span >1. März 2022</span></li>
                <li><span class="title-detail">Ende:</span> <span >1. März 2022</span></li>
                <li><span class="title-detail">Monatsstunden:</span> <span >3</span></li>
                <li><span class="title-detail">Personalnummer:</span> <span >3</span></li>
                <li><span class="title-detail">Platzbedarf:</span> <span >3</span></li>
                <li><span class="title-detail"> Blaue Runde:</span> <span >None</span></li>
                <li><span class="title-detail">Timebutler Account:</span> <span >None</span></li>
                <li><span class="title-detail">Lohneintrag:</span> <span > None</span></li>
                <li><span class="title-detail">Application Type:</span> <span >Einstellung</span></li>
                <li><span class="title-detail">Status:</span> <span >MA</span></li>
                <li><span class="title-detail">Team:</span> <span >Adminbereich</span></li>
                <li><span class="title-detail">Student Type:</span> <span >Master</span></li>
                <li><span class="title-detail">Betreuer_In:</span> <span >Hendrik Huyskens, MA_WiMA</span></li>
                <li><span class="title-detail">Kostenträger:</span> <span >140_open_eGo</span></li>
              </ul>
            </div>
            <a  class="btn btn-common"> Download Detail</a>
           
          </div>
        </div>   
      </div>
    </div>
 
</main>
{% endblock content %}
