{% extends "src/onboarding/layout.html" %}

{% block content %}
<main class="flex-shrink-0">
  User: ds dsd<br>
  Tätigkeitsbeschreibung: sd<br>
  Beginn: 1. März 2022<br>
  Ende: 1. Januar 2022<br>
  Monatsstunden: 3<br>
  Personalnummer: 3<br>
  Platzbedarf: 3<br>
  Blaue Runde: None<br>
  Timebutler Account: None<br>
  Lohneintrag: None<br>

  Application Type: Einstellung<br>
  Status: MA<br>
  Team: Adminbereich<br>
  Student Type: Master<br>
  Betreuer_In: Hendrik Huyskens, MA_WiMA<br>
  Kostenträger: 140_open_eGo<br>
</main>
{% endblock content %}
