@use '../base' as *;

.bs-btn {
  @extend .btn;
}

.bs-btn-primary {
  @extend .btn-primary;
}

.button {
  @extend .btn;
  letter-spacing: $c-letter-spacing;

  &--primary {
    @extend .btn-info;
  }

  &--secondary {
    @extend .btn-primary;
  }

  &--ghost {
    @extend .btn-outline-primary;
  }

  &--danger {
    @extend .btn-danger;
  }

  &--sm {
    @extend .btn-sm;
    padding-left: 0.75rem;
    padding-right: 0.75rem;
  }

  &--md {
    padding-left: 1rem;
    padding-right: 1rem;
  }

  &--lg {
    @extend .btn-lg;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
  }
}