.title-detail{
  font-size: 38px;
  font-weight: 700;
  font-family: "Roboto";
  
}
.ul-detail {
  list-style: outside none none;
  margin: 0;
  padding: 0;
}

.btn-common {
  background-color: #00b4d9;
  position: relative;
  z-index: 1;
}
.btn-common:hover {
  color: #fff;
  background-color: #21cff3;
  box-shadow: 0 6px 22px rgba(0, 0, 0, 0.1);
  transition: all .2s ease-in-out;
  -moz-transition: all .2s ease-in-out;
  -webkit-transition: all .2s ease-in-out;
}
.btn-border {
  color: #fff;
  background-color: transparent;
  border: 1px solid #fff;
}
.btn-border:hover {
  border: 1px solid #fff;
  color: #fff;
  background-color: rgba(255, 255, 255, 0.2);
}
.details {
  position: relative;
  margin: 40px 0 40px 0;
}
.details .sub-title {
  font-weight: 700;
  color: #040404;
  position: relative;
  width: 250px;
  display: inline-block;
  margin-bottom: 5px;
  font-family: "Roboto";
}

.details .sub-title:after {
  position: absolute;
  color: #040404;
  font-size: 14px;
  left: 77px;
}
.details .projekt-detail{
  width: 250px;
  position: relative;
  display: inline-block;
  margin-bottom: 5px;
  color: #040404;
}
.details .projekt-right{
  width: 250px;
  position: relative;
  display: inline-table;
  margin-bottom: 5px;
}


