@use '../base' as *;
@use '../base/mixins' as *;

$panel-width-sm: 22rem;
$panel-width: 26rem;
$icon-margin-right: 0.25rem;

.panel {
  @extend .d-flex;
  @extend .flex-column;
  @extend .h-auto;
  @extend .bg-white;
  @extend .shadow;
  width: 25rem;

  @include media-breakpoint-down(md) {
    order: 2;
  }

  @include media-breakpoint-up(md) {
    width: $panel-width-sm !important;
    overflow-y: scroll;
  }

  @include media-breakpoint-up(lg)  {
    height: 100vh;
    width: $panel-width !important;
  }

  &__content {
    @extend .flex-grow-1;
    @extend .flex-shrink-0;
  }

  &__chart {
    @extend .d-flex;
    @extend .flex-row;
    @extend .justify-content-around;
    @extend .bg-light;
    @extend .pt-2;
  }

  &__settings {
    @extend .bg-white;
    @extend .px-4;
    @extend .pb-3;
  }

  &-item {
    @extend .py-4;

    &__heading {
      @extend .fs-7;
      @extend .fw-light;
      @extend .text-uppercase;

      svg {
        @include translateY(-2px);
        margin-right: $icon-margin-right;
      }
    }

    &__form {
      @extend .d-flex;
      @extend .flex-row;
      @extend .align-items-center;

      select,
      img {
        @extend .d-block;
      }

      img {
        @extend .ms-1;
      }
    }

    &__chart {
      @extend .pb-2;
    }

    button svg {
      @include translateY(-2px);
      margin-right: $icon-margin-right;
    }
  }
}

.dropdown-menu.sidepanel {
  @extend .p-3;
  width: 24rem;

  .sidepanel {
    &__title {
      @extend .fs-7;
      @extend .fw-bold;
    }
  }
}