{% extends "src/dashboard/layout.html" %}

{% block content %}
<section class="db-topnav">
  <h1 class="db-topnav__header">Overview</h1>
  <div class="db-topnav__options">
    <ul class="nav nav-tabs">
      <li class="nav-item">
        <a class="nav-link active" aria-current="page" href="#">RLI</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Mobi</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">OG</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">TEO</a>
      </li>
      <form action="">
        <select class="form-select" aria-label="Default select example">
          <option>2023</option>
          <option selected>2022</option>
          <option>2021</option>
          <option>2020</option>
        </select>
      </form>
    </ul>
  </div>
  <div class="db-topnav__lang">
    <div>
      DE EN
    </div>
  </div>
</section>

<section class="db-content">
  <div class="db-content__row">
    <div class="db-content__col db-content__col--5">
      <div class="db-item">
        <div class="db-item__title">
          Restbudgets
          <span title="This is an info text about the current table">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-info-circle" viewBox="0 0 16 16">
              <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
              <path d="m8.93 6.588-2.29.287-.082.38.45.083c.294.07.352.176.288.469l-.738 3.468c-.194.897.105 1.319.808 1.319.545 0 1.178-.252 1.465-.598l.088-.416c-.2.176-.492.246-.686.246-.275 0-.375-.193-.304-.533L8.93 6.588zM9 4.5a1 1 0 1 1-2 0 1 1 0 0 1 2 0z"/>
            </svg>
          </span>
        </div>
        <div class="db-item__content">
          <div class="db-diff">
            <div class="db-diff__col">
              <div class="db-diff__text">
                Differenz Budget vs. Ausgaben IST
              </div>
              <div class="db-diff__total db-diff__total--is">
                371.000 €
              </div>
            </div>
            <div class="db-diff__col">
              <div class="db-diff__text">
                Differenz Budget vs. Ausgaben Forecast
              </div>
              <div class="db-diff__total db-diff__total--fc">
                340.000 €
              </div>
            </div>
          </div>
          <div class="db-chart">
            <div id="mainChart" style="width: 100%;height:400px;"></div>
          </div>
        </div>
      </div>
    </div>
    <div class="db-content__col db-content__col--7">
      <div class="db-item">
        <div class="db-item__title">
          Restbudgets
          <span title="This is an info text about the current table">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-info-circle" viewBox="0 0 16 16">
              <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
              <path d="m8.93 6.588-2.29.287-.082.38.45.083c.294.07.352.176.288.469l-.738 3.468c-.194.897.105 1.319.808 1.319.545 0 1.178-.252 1.465-.598l.088-.416c-.2.176-.492.246-.686.246-.275 0-.375-.193-.304-.533L8.93 6.588zM9 4.5a1 1 0 1 1-2 0 1 1 0 0 1 2 0z"/>
            </svg>
          </span>
        </div>
        <div class="db-item__content">
          Test
        </div>
      </div>
    </div>
  </div>
</section>
{% endblock %}
