{% extends "src/ds/layout.html" %}

{% block content %}

<div class="ds__container">
  <h1>Charts</h1>
  <div class="ds__item bs-row">
    <div class="bs-col">
      <p>Here are some examples from the DigiPlan tool.</p>
    </div>
  </div>
  <div class="ds__item bs-row">
    <div class="bs-col-6">
      <p>Single chart with single column:</p>
      <div id="dp-single-bar" style="height:160px;width:288px"></div>
    </div>
    <div class="bs-col-6">
      <p>Single chart with two columns:</p>
      <div id="dp-two-bars" style="height:160px;width:288px"></div>
    </div>
  </div>
  <div class="ds__item bs-row">
    <div class="bs-col-6">
      <p>Two charts with two columns:</p>
      <div id="dp-comparison-bars1" style="height:200px;width:150px"></div>
    </div>
  </div>
</div>

{% endblock %}

{% block js %}
<script type="module" src="/ds/components/charts/index.js"></script>
{% endblock %}