{% extends "src/login/layout.html" %}

{% block content %}

<section class="anon-layout anon-layout--contact">
  <div class="anon-layout__header"></div>
  <div class="anon-layout__content container">
    <div class="bs-row">
      <div class="bs-col">
        <h1>Kontakt</h1>
        <section class="anon-layout__section">
          <p>Hast du eine Frage oder einen Hinweis? Kontaktiere uns einfach! Dafür gibt es zwei Möglichkeiten:</p>
          <ul>
            <li>schreibe eine E-Mail an <a href="mailto:rms@rl-institut.de">rms@rl-institut.de</a></li>
            <li>tätige eine Fehlermeldung auf <a href="http://192.168.10.26/projects/finanztool/issues">Redmine</a></li>
          </ul>
        </section>
      </div>
    </div>
  </div>
</section>

{% endblock %}

{% block js %}
<script type="module" src="/contact.js"></script>
{% endblock %}
