{% extends "src/login/layout.html" %}

{% block content %}

<section class="login">
  <div class="login__container">
    <div class="login__col">
      <form>
        <div class="login__top" aria-hidden="true">
          <img class="login__logo" src="/static/logos/RMS_logo.svg" alt="RMS Logo">
        </div>
        <h1 class="login__text">Login</h1>
        <div class="login__user-name">
          <label for="loginUserName" class="bs-form-label">User name</label>
          <input type="text" class="bs-form-control is-invalid" id="loginUserName" placeholder="firstname.lastname" name="fname" aria-describedby="validationServerUsernameFeedback" required>
          <div id="validationServerUsernameFeedback" class="invalid-feedback">
            Valid user name as firstname.lastname is required.
          </div>
        </div>
        <div class="login__pw">
          <label for="loginPassword" class="bs-form-label">Password</label>
          <input type="password" class="bs-form-control" id="loginPassword" placeholder="Passwort" name="fname">
        </div>
        <button class="login__btn" type="submit">Log in</button>
      </form>
    </div>
  </div>
</section>

{% endblock %}

{% block js %}
<script type="module" src="/login/index.js"></script>
{% endblock %}
