<!DOCTYPE html>
<html lang="en" class="h-100">
  <head>
    <meta charset="UTF-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>RMS-Design</title>
    <link rel="stylesheet" type="text/css" href="/static/scss/styles.scss" />
  </head>
  <body>
    <header>
      <nav class="login-navbar">
        <div class="login-navbar__container">
          <a class="login-navbar__brand" href="/" aria-current="page">
            <img src="/static/logos/RMS_logo_notitle.svg" alt="RMS Logo" width="97.5" height="30">
          </a>
          <button class="login-navbar__toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar" aria-controls="offcanvasNavbar">
            <span class="login-navbar__toggler-icon"></span>
          </button>
          <div class="login-offcanvas offcanvas" tabindex="-1" id="offcanvasNavbar" aria-labelledby="offcanvasNavbarLabel">
            <div class="login-offcanvas__header">
              <h5 class="login-offcanvas__title" id="offcanvasNavbarLabel">RMS Login</h5>
              <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
            </div>
            <div class="login-oc-body">
              <ul class="login-oc-body__nav">
                <li>
                  <a class="login-oc-body__link" href="/login/about/">About</a>
                </li>
                <li>
                  <a class="login-oc-body__link" href="/login/contact.html">Contact</a>
                </li>
                <li class="lang-select">
                  <form action="/i18n/setlang/" method="post" class="lang-select__form">
                    <div class="lang-select__option">
                      <input class="lang-select__input" type="radio" name="radioLang" id="radioLangDe" value="de" checked>
                      <label class="lang-select__label" for="radioLangDe">
                        DE
                      </label>
                    </div>
                    <div class="lang-select__option">
                      <input class="lang-select__input" type="radio" name="radioLang" id="radioLangEn" value="en">
                      <label class="lang-select__label" for="radioLangEn">
                        EN
                      </label>
                    </div>
                  </form>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </nav>
    </header>

    <main class="login-main">
      {% block content %}{% endblock %}
    </main>

    <footer class="login-footer">
      <div class="login-footer__container">
        <span class="login-footer__name">Reiner Lemoine Institut</span>
        <span><a href="#">v3.42.1</a></span>
      </div>
    </footer>

    <script type="module" src="/static/js/main.js"></script>
    {% block js %}{% endblock %}
  </body>
</html>
