//Apache License
//Version 2.0, January 2004
//http://www.apache.org/licenses/

@font-face {
  font-family: 'Roboto';
  src: url('/static/fonts/Roboto-Bold.woff2') format('woff2'),
      url('/static/fonts/Roboto-Bold.woff') format('woff');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Roboto';
  src: url('/static/fonts/Roboto-BoldItalic.woff2') format('woff2'),
      url('/static/fonts/Roboto-BoldItalic.woff') format('woff');
  font-weight: 700;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Roboto';
  src: url('/static/fonts/Roboto-Thin.woff2') format('woff2'),
      url('/static/fonts/Roboto-Thin.woff') format('woff');
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Roboto';
  src: url('/static/fonts/Roboto-ThinItalic.woff2') format('woff2'),
      url('/static/fonts/Roboto-ThinItalic.woff') format('woff');
  font-weight: 100;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Roboto';
  src: url('/static/fonts/Roboto-Light.woff2') format('woff2'),
      url('/static/fonts/Roboto-Light.woff') format('woff');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Roboto';
  src: url('/static/fonts/Roboto-Italic.woff2') format('woff2'),
      url('/static/fonts/Roboto-Italic.woff') format('woff');
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Roboto';
  src: url('/static/fonts/Roboto-LightItalic.woff2') format('woff2'),
      url('/static/fonts/Roboto-LightItalic.woff') format('woff');
  font-weight: 300;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Roboto';
  src: url('/static/fonts/Roboto-Regular.woff2') format('woff2'),
      url('/static/fonts/Roboto-Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Roboto Mono';
  src: url('/static/fonts/RobotoMono-Bold.woff2') format('woff2'),
      url('/static/fonts/RobotoMono-Bold.woff') format('woff');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Roboto Mono';
  src: url('/static/fonts/RobotoMono-Light.woff2') format('woff2'),
      url('/static/fonts/RobotoMono-Light.woff') format('woff');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Roboto Mono';
  src: url('/static/fonts/RobotoMono-Regular.woff2') format('woff2'),
      url('/static/fonts/RobotoMono-Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}