@use '../variable_overrides' as v;

@forward 'node_modules/bootstrap/scss/bootstrap' with(
  $gray-100: v.$gray-100,
  $gray-200: v.$gray-200,
  $gray-300: v.$gray-300,
  $gray-400: v.$gray-400,
  $gray-500: v.$gray-500,
  $gray-600: v.$gray-600,
  $gray-700: v.$gray-700,
  $gray-800: v.$gray-800,
  $gray-900: v.$gray-900,
  $blue: v.$blue,
  $green: v.$green,
  $yellow: v.$yellow,
  $black: v.$black,
  $info: v.$info,
  $spacer: v.$spacer,
  $spacers: v.$spacers,
  $body-color: v.$body-color,
  $link-color: v.$link-color,
  $link-decoration: v.$link-decoration,
  $container-padding-x: v.$container-padding-x,
  $box-shadow: v.$box-shadow,
  $box-shadow-sm: v.$box-shadow-sm,
  $box-shadow-lg: v.$box-shadow-lg,
  $box-shadow-inset: v.$box-shadow-inset,
  $font-family-sans-serif: v.$font-family-sans-serif,
  $font-family-monospace: v.$font-family-monospace,
  $font-size-base: v.$font-size-base,
  $h1-font-size: v.$h1-font-size,
  $h2-font-size: v.$h2-font-size,
  $h3-font-size: v.$h3-font-size,
  $h4-font-size: v.$h4-font-size,
  $h5-font-size: v.$h5-font-size,
  $h6-font-size: v.$h6-font-size,
  $font-sizes: v.$font-sizes,
  $text-muted: v.$text-muted,
  $input-btn-padding-x: v.$input-btn-padding-x,
  $input-btn-padding-x-sm: v.$input-btn-padding-x-sm,
  $input-btn-padding-x-lg: v.$input-btn-padding-x-lg,
  $btn-font-weight: v.$btn-font-weight,
  $navbar-nav-link-padding-x: v.$navbar-nav-link-padding-x,
  $navbar-light-color: v.$navbar-light-color,
  $navbar-light-hover-color: v.$navbar-light-hover-color,
  $navbar-light-active-color: v.$navbar-light-active-color,
  $navbar-light-disabled-color: v.$navbar-light-disabled-color,
  $navbar-light-toggler-icon-bg: v.$navbar-light-toggler-icon-bg,
  $navbar-light-toggler-border-color: v.$navbar-light-toggler-border-color
);

@forward 'variables';