@use 'index' as *;

@mixin diff-is-forecast {
  @extend .text-center;
  @extend .fw-bold;

  &--is {
    background-color: $blue !important;
    @extend .text-white;
  }

  &--fc {
    background-color: $yellow-200 !important;
    @extend .text-info;
  }
}

// Translate
@mixin translateY($translateY-value) {
  transform: translateY($translateY-value);
  -webkit-transform: translateY($translateY-value);
  -moz-transform: translateY($translateY-value);
  -ms-transform: translateY($translateY-value);
  -o-transform: translateY($translateY-value);
}

@mixin translateX($translateX-value) {
  transform: translateX($translateX-value);
  -webkit-transform: translateX($translateX-value);
  -moz-transform: translateX($translateX-value);
  -ms-transform: translateX($translateX-value);
  -o-transform: translateX($translateX-value);
}

// User-select
@mixin user-select-none {
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

// UL
@mixin ul-horizontal {
  @extend .list-unstyled;
	@extend .mb-0;
  @extend .ps-0;
}