$c-navbar-height: 3.5rem; // Value approx. to navbar height
$c-footer-height: 3.5rem; // Value approx. to footer height
$c-sidebar-width: 18rem;

$c-text-xs: 0.875rem;

// Colors
$c-color-blue-5: #5E7CE2;
$c-color-blue-4: #859CE9;
$c-color-blue-3: #BBC8F3;
$c-color-blue-2: #F1F4FD;

$c-color-green-5: #06D6A0;
$c-color-green-4: #35F9C6;
$c-color-green-3: #92FCE1;
$c-color-green-2: #EFFFFB;

$c-color-yellow-5: #FFD166;
$c-color-yellow-4: #FFDD8F;
$c-color-yellow-3: #FFE7AF;
$c-color-yellow-2: #FFFAEF;

$c-color-red-5: #EF476F;
$c-color-red-4: #F47B98;
$c-color-red-3: #F9B6C6;
$c-color-red-2: #FEF0F4;