{% extends "src/onboarding/layout.html" %}

{% block content %}
<main class="flex-shrink-0">
  <div class="container-xxl h-100 d-flex justify-content-center align-items-center">
    <table class="table table-hover">
      <thead>
        <tr>
          <th scope="col">id</th>
          <th scope="col">Name</th>
          <th scope="col">VorName</th>
          <th scope="col">Teamzugehörigkeit</th>
          <th scope="col">Status</th>
          <th scope="col">Startdatum</th>
          <th scope="col">Personnal Nummer</th>
          <th scope="col">BenuzerKonto</th>
          <th scope="col">Ändern</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th scope="row">1</th>
          <td>Mark</td>
          <td>Otto</td>
          <td>@mdo</td>
          <td>Mark</td>
          <td>Otto</td>
          <td>@mdo</td>
          <td>Otto</td>
          <td>@mdo</td>
        </tr>
      </tbody>
    </table>

  </div>

  <div>
    <button class="btn btn-primary table-btn  " data-bs-toggle="modal" data-bs-target="#popup">
      Eintritt hinzufügen
    </button>
  </div>




  <div class="modal fade" id="popup" tabindex="-1" aria-labelledby="popupModalLabel" style="display: none;"
    aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="popupModalLabel"></h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">

          <form method="post" action="/office/ajax/create_application/">
            <input type="hidden" name="csrfmiddlewaretoken"
              value="d0sAgJiUkRzdumzIJXLXJ0zM9hcLKKaET1qeVRAksdD4MBjadIJNwh3Q41V9Pg9r">
            <div id="div_id_application_type" class="control-group"> <label for="id_application_type"
                class="control-label requiredField">
                Application type<span class="asteriskField">*</span> </label>
              <div class="controls"> <select name="application_type" class="select" required=""
                  id="id_application_type">
                  <option value="" selected="">---------</option>
                  <option value="19">Einstellung</option>
                  <option value="20">Verlängerung</option>
                  <option value="21">Änderung</option>

                </select> 
              </div>
            </div>
            <div id="div_id_firstname" class="control-group"> <label for="id_firstname"
                class="control-label requiredField">
                Firstname<span class="asteriskField">*</span> </label>
              <div class="controls"> <input type="text" name="firstname" maxlength="255" class="textinput textInput"
                  required="" id="id_firstname"> </div>
            </div>
            <div id="div_id_lastname" class="control-group"> <label for="id_lastname"
                class="control-label requiredField">
                Lastname<span class="asteriskField">*</span> </label>
              <div class="controls"> <input type="text" name="lastname" maxlength="255" class="textinput textInput"
                  required="" id="id_lastname"> </div>
            </div>
            <div id="div_id_description" class="control-group"> <label for="id_description"
                class="control-label requiredField">
                Description<span class="asteriskField">*</span> </label>
              <div class="controls"> <textarea name="description" cols="40" rows="10" class="textarea" required=""
                  id="id_description"></textarea>
              </div>
            </div>
            <div id="div_id_status" class="control-group"> <label for="id_status" class="control-label requiredField">
                Status<span class="asteriskField">*</span> </label>
              <div class="controls"> <select name="status" class="select" required="" id="id_status">
                  <option value="" selected="">---------</option>
                  <option value="2">MA</option>
                  <option value="3">Student_in</option>
                  <option value="4">Praktikant_in</option>
                  <option value="5">Bufdi</option>
                  <option value="6">Gast-WiMa</option>

                </select> </div>
            </div>
            <div id="div_id_student_type" class="control-group"> <label for="id_student_type"
                class="control-label requiredField">
                Student type<span class="asteriskField">*</span> </label>
              <div class="controls"> <select name="student_type" class="select" required="" id="id_student_type">
                  <option value="" selected="">---------</option>
                  <option value="1">Master</option>
                  <option value="2">Bachelor</option>
                  <option value="3">Pflichtpraktikum</option>
                  <option value="4">Freiwilliges Praktikum</option>

                </select> </div>
            </div>
            <div id="div_id_team" class="control-group"> <label for="id_team" class="control-label requiredField">
                Team<span class="asteriskField">*</span> </label>
              <div class="controls"> <select name="team" class="select" required="" id="id_team">
                  <option value="" selected="">---------</option>
                  <option value="1">Adminbereich</option>
                  <option value="2">Energiesysteme</option>
                  <option value="3">Mobilität</option>
                  <option value="4">Off-Grid</option>
                  <option value="5">Technologie</option>
                  <option value="6">RLS-Kolleg</option>

                </select> </div>
            </div>
            <div id="div_id_supervisor" class="control-group"> <label for="id_supervisor"
                class="control-label requiredField">
                Supervisor<span class="asteriskField">*</span> </label>
              <div class="controls"> <select name="supervisor" class="select" required="" id="id_supervisor">
                  <option value="" selected="">---------</option>
                  <option value="2"> Anonymous</option>
                  <option value="279">Sophie-Marie Fischer, BuFDi</option>
                  <option value="44"> TeamOffGrid</option>
                  <option value="41"> TeamTEO</option>
                  <option value="202">Lukas Berger, Student</option>
                  <option value="45"> Studierende</option>
                  <option value="47"> Promovierende</option>
                  <option value="211">Pierre-Francois Duc, MA_WiMA</option>
                  <option value="6">B AllUsers</option>
                  <option value="21">Paul BertheauProm, Promovend</option>
                  <option value="39"> MA</option>
                  <option value="40"> Simulantinnen</option>
                  <option value="46">Mandy Erdmann, MA_Admin</option>
                  <option value="215">Karoline Gerbatsch, Student</option>
                  <option value="232">Assem Tarhini, Student</option>
                  <option value="8">Uwe Krien, Promovend</option>
                  <option value="52"> Anonymous users</option>
                  <option value="53"> Non member users</option>
                  <option value="51">Margret Crummenerl, Geschäftsführer</option>
                  <option value="216">Matthias Laugwitz, MA_Admin</option>
                  <option value="195">Simon Byrtus, Student</option>
                  <option value="239">Anne Baltruschat, MA_Admin</option>
                  <option value="198">Michele Andreottola, Student</option>
                  <option value="269">Julian Fleischmann, Gast-WiMa</option>
                  <option value="16">Jochen Buehler, MA_WiMA</option>
                  <option value="15">Fabian Moehrke, None</option>
                  <option value="57">Maria Rosa Ferrer Camus, None</option>
                  <option value="267">Arnold WasikePraktikant, Praktikant</option>
                  <option value="73"> TeamMobilität</option>
                  <option value="72"> MPM</option>
                  <option value="60">Oliver Arnhold, MA_WiMA</option>
                  <option value="280">Ngoc Tu Phan, Student</option>
                  <option value="55"> BlaueRunde</option>
                  <option value="258"> RLS_Kolleg</option>
                  <option value="83"> Kommunikation</option>
                  <option value="158"> ProjektleiterInnenRunde</option>
                  <option value="270">Avia Linke, Student</option>
                  <option value="19">Birgit Schachler, MA_WiMA</option>
                  <option value="78">Jonathan Amme, MA_WiMA</option>
                  <option value="13">Editha Koetter, MA_WiMA</option>
                  <option value="266">Sinan Varol, MA_Admin</option>
                  <option value="212">Andrea Eras</option>
                  <option value="203">Santiago Infantino Moreno, Student</option>
                  <option value="204"> Admin Team</option>
                  <option value="104">Jaap Pedersen, Student</option>
                  <option value="103">Stefan Schirmeister, Student</option>
                  <option value="115"> oemof-intern</option>
                  <option value="281">Pablo Gallardo Ruiz, Praktikant</option>
                  <option value="107">Diego Calderon, None</option>
                  <option value="94">Andreas Meier, None</option>
                  <option value="233">Izzet Kilicarslan, Student</option>
                  <option value="133">Philipp Kassing, Student</option>
                  <option value="187">Iris Seegelken, Student</option>
                  <option value="205"> Personalleitung</option>
                  <option value="259">Max Kusatz, Student</option>
                  <option value="214">Lennart Klatt, Student</option>
                  <option value="272">Anna Kainz, BuFDi</option>
                  <option value="264">Johannes Hofmann, MA_WiMA</option>
                  <option value="218">Christoph Muschner, Student</option>
                  <option value="268">veslemoy fosse, Student</option>
                  <option value="136">Setu PelzProm, Promovend</option>
                  <option value="11">Caroline Möller, MA_WiMA</option>
                  <option value="128">Sara Bredendick, MA_Admin</option>
                  <option value="206"> Buchhaltung</option>
                  <option value="282">Gregory Ireland, Gast-WiMa</option>
                  <option value="222">Julian Endres, Student</option>
                  <option value="109">Hanna Decker, None</option>
                  <option value="260">Setu Pelz, MA_WiMA</option>
                  <option value="223">Kerstin Landvoigt, MA_Admin</option>
                  <option value="273">Sebastian Tews, Student</option>
                  <option value="217">Arnold Wasike, Student</option>
                  <option value="93">Kathrin Goldammer, Geschäftsführer</option>
                  <option value="271">Andra Backhaus, Student</option>
                  <option value="9">Guido Pleßmann, MA_WiMA</option>
                  <option value="14">Ludwig Hülk, MA_WiMA</option>
                  <option value="219">Anya Heider, MA_WiMA</option>
                  <option value="145">Felix Janiak, Student</option>
                  <option value="207">Oscar Mones, Student</option>
                  <option value="240">Elisabeth Höhne, BuFDi</option>
                  <option value="283">Lena Haug, WiMa</option>
                  <option value="247">Adnan Alakori, Gast-WiMa</option>
                  <option value="162">Maik Haas, Student</option>
                  <option value="254">Timo Meyer, Student</option>
                  <option value="248">Elijah Kunsinmi Parisa, Student</option>
                  <option value="152">Zakia Soomauroo, Promovend</option>
                  <option value="160">Oskar Seela, Student</option>
                  <option value="112">Sabine HaasStudent, Student</option>
                  <option value="96">Gordana Zecic-Fehren</option>
                  <option value="116">Chloe Lucas, None</option>
                  <option value="118">Mohamed Abdelhafez, None</option>
                  <option value="171">Nikhil Pawar</option>
                  <option value="241">Marianne Domke, Student</option>
                  <option value="284">Phoung Le, BuFDi</option>
                  <option value="224"> GF_Admin_Kom</option>
                  <option value="274">Philipp Armbrust, MA_Admin</option>
                  <option value="209">Carlotta Montorsi, Student</option>
                  <option value="220">Simon Hollnaicher, Student</option>
                  <option value="228">Ciara DunksPraktikant, Praktikant</option>
                  <option value="210">Roberto Pineda, Student</option>
                  <option value="48">Barbara Umbreit, None</option>
                  <option value="163">Laura Wienpahl, MA_WiMA</option>
                  <option value="180">Koen Vanacker, Student</option>
                  <option value="18">Matthias Resch, MA_WiMA</option>
                  <option value="183">Daniel Busch, Student</option>
                  <option value="261">Paul Bertheau, MA_WiMA</option>
                  <option value="165">Clara Juette, MA_WiMA</option>
                  <option value="38">Olaf Bernicke, MA_Admin</option>
                  <option value="201">Alexandra Krumm, Student</option>
                  <option value="246">Ulrike Herrmann, Student</option>
                  <option value="265">Julian Brendel, Student</option>
                  <option value="175">Inia Steinbach, Student</option>
                  <option value="31">Fabian Grüger, MA_WiMA</option>
                  <option value="242">Jette Stock, Student</option>
                  <option value="170">Christian Hofmann, MA_WiMA</option>
                  <option value="49">Alexander Wanitschke, Promovend</option>
                  <option value="249">Mario Stalpes, Student</option>
                  <option value="7">Berit Müller, MA_WiMA</option>
                  <option value="50">Dylan Mackay, None</option>
                  <option value="23">Max Winker, None</option>
                  <option value="199">Jonas Hörsch, MA_WiMA</option>
                  <option value="250">Janis Hilgenbrink, Student</option>
                  <option value="150">Mascha Richter, MA_WiMA</option>
                  <option value="17">Elisa Förster, MA_WiMA</option>
                  <option value="68">Robin Göbel, None</option>
                  <option value="285">Philip Gatzlaff, Praktikant</option>
                  <option value="188">Raphael Haupt, Student</option>
                  <option value="62">Judith Fiukowski, Student</option>
                  <option value="275">Sebastian Graf, Werkvertrag</option>
                  <option value="61">Bastian Hermann</option>
                  <option value="84">Eleni Kontogeorgopoulou, None</option>
                  <option value="86">Angel Naya Geiger, None</option>
                  <option value="178">Katrin Lammers, Promovend</option>
                  <option value="64">Thomas Hintze, None</option>
                  <option value="75">Kathrin Hebler, None</option>
                  <option value="67">Admin Test, Student</option>
                  <option value="196">Max Juri Bäuerle, Student</option>
                  <option value="256">Lukas Glöckner, Student</option>
                  <option value="243">Markus Moebius, Student</option>
                  <option value="56">Claus Beneking, None</option>
                  <option value="189">Okan Akca, Student</option>
                  <option value="225">Arthur Baer, Student</option>
                  <option value="221">Clara Walther, Student</option>
                  <option value="164">Mohanad Abdallah</option>
                  <option value="191">Alexis Michaltsis, Student</option>
                  <option value="71">test mitarbeiter</option>
                  <option value="172">Anton Schatz, BuFDi</option>
                  <option value="74">Jannes Nerling, None</option>
                  <option value="59">Oliver Hoch, MA_WiMA</option>
                  <option value="54">Florian Schaller, None</option>
                  <option value="70">test student</option>
                  <option value="237">Julia Brakel, Student</option>
                  <option value="230">Mahendranath Ramakrishnan, Student</option>
                  <option value="244">Lene Malzahn, BuFDi</option>
                  <option value="251">Ciara DunksStudent, Student</option>
                  <option value="193">Bryan Lancien, MA_WiMA</option>
                  <option value="138">Jann Launer, MA_WiMA</option>
                  <option value="159">Jonas Huber, Student</option>
                  <option value="82">Marcel Glass, None</option>
                  <option value="226">Marie-Claire Gering, Student</option>
                  <option value="58">Jörn Hartmann, MA_WiMA</option>
                  <option value="77">Oscar Camacho, None</option>
                  <option value="276">Elena van Hove, Gast-WiMa</option>
                  <option value="33">Philipp Blechinger, MA_WiMA</option>
                  <option value="262">Andre Presser, Student</option>
                  <option value="169">Stefanie Nguyen, Student</option>
                  <option value="65">Benjamin Schubert, None</option>
                  <option value="168">Michaela Weiske, MA_Admin</option>
                  <option value="79">Andreas Pfeif</option>
                  <option value="174">Sabine Haas, MA_WiMA</option>
                  <option value="176">Sarah Starre, Student</option>
                  <option value="80">Maximilian Well, None</option>
                  <option value="194">Alexander Windt, MA_WiMA</option>
                  <option value="253">Marlin Arnz</option>
                  <option value="190">Tobias Rieper, Student</option>
                  <option value="43">Norman Pieniak, MA_WiMA</option>
                  <option value="286">Yannick Platow, Praktikant</option>
                  <option value="126">Sarah Berendes, MA_WiMA</option>
                  <option value="66">Marius Koepchen</option>
                  <option value="81">Miro Conzelmann, None</option>
                  <option value="76">Christian Wernitz, None</option>
                  <option value="99">Marius Holst, None</option>
                  <option value="257">Ursula El Mir, Student</option>
                  <option value="185">Carolin Daam, MA_WiMA</option>
                  <option value="87">Marlon Fleck, MA_WiMA</option>
                  <option value="238">Marc Gallel, Gast-WiMa</option>
                  <option value="227">Lara-Sophie Christmann, Student</option>
                  <option value="173">Clara Zühl, BuFDi</option>
                  <option value="139">Bharadwaj Narasimhan, MA_WiMA</option>
                  <option value="179">Jakob Gemassmer, MA_WiMA</option>
                  <option value="192">Jaron Bucka, Student</option>
                  <option value="263">Ciara Dunks, MA_WiMA</option>
                  <option value="231">Ciara DunksStudent</option>
                  <option value="245">Elias Trommer, Student</option>
                  <option value="277">Jessica Kersey, Gast-WiMa</option>
                  <option value="252">Ricardo Reibsch</option>
                  <option value="88">Julia Rohloff, None</option>
                  <option value="287">Svenja Dobelmann, Student</option>
                  <option value="106">Lucas Plummer, None</option>
                  <option value="100">Jonas Gütter, None</option>
                  <option value="90">Sebastian Herwartz, None</option>
                  <option value="113">Stephen Bosch, Student</option>
                  <option value="95">Marlon Fleck-Student, Student</option>
                  <option value="108">Jihyun Oh, None</option>
                  <option value="92">Rita Kunert, None</option>
                  <option value="229">Martha Hoffmann, MA_WiMA</option>
                  <option value="186">Tim Röpcke, MA_WiMA</option>
                  <option value="184">Raoul Hirschberg, MA_WiMA</option>
                  <option value="97">Elisa Papadis, None</option>
                  <option value="200">Elias Diewald, Student</option>
                  <option value="120">Miguel Parada, None</option>
                  <option value="91">Marcel Sax, None</option>
                  <option value="105">Marco Roggemann</option>
                  <option value="117">Sabina Mollenhauer, Student</option>
                  <option value="213">Nicola Klauder, MA_Admin</option>
                  <option value="98">Angela Pietroni, None</option>
                  <option value="119">Laura WienpahlStudent, Student</option>
                  <option value="111">Raoul Hirschbergstudent, Student</option>
                  <option value="144">Simon Hoffmann, Student</option>
                  <option value="123">Sherif Mohamed, None</option>
                  <option value="134">Clara JütteStudent, Student</option>
                  <option value="130">AlexanderStudent Windt, Student</option>
                  <option value="143">Inga Löser, Student</option>
                  <option value="129">Till Greger, None</option>
                  <option value="141">Josephine Schwarz, Student</option>
                  <option value="142">Carolin Daam (Studentin), Student</option>
                  <option value="127">Nicolas Commeignes, Student</option>
                  <option value="131">Alin Radu, Student</option>
                  <option value="132">Manuel Linsenmeier, None</option>
                  <option value="122">Anna Seefried, Student</option>
                  <option value="135">Lilly Schön, BuFDi</option>
                  <option value="125">Steve Morning, Student</option>
                  <option value="121">Killian Zimmerer, None</option>
                  <option value="124">Elmer van der Wel, None</option>
                  <option value="140">Helene Wittenberg, Student</option>
                  <option value="137">TIm RöpckeStudent, Student</option>
                  <option value="234">Lukas GlöcknerPraktikant, Praktikant</option>
                  <option value="167">Malte Petersen, Student</option>
                  <option value="161">Stella Olligschlaeger, Student</option>
                  <option value="147">Pamela Romero</option>
                  <option value="151">Daniel BuschWIMA, MA_WiMA</option>
                  <option value="149">Jakob GemassmerStudent, Student</option>
                  <option value="148">Britta Englert, BuFDi</option>
                  <option value="153">Christoph Stemmler, Student</option>
                  <option value="156">Marcus Schluzy, Student</option>
                  <option value="157">Ryan Doyle, Student</option>
                  <option value="146">Katrin Bartel, MA_WiMA</option>
                  <option value="154">Jörn Hartmannstudent, Student</option>
                  <option value="155">Bryan LancienStudent, Student</option>
                  <option value="182">Martha Hoffmannstudent, Student</option>
                  <option value="177">Friederike Vogelstudent, Student</option>
                  <option value="208">Friederike Vogel, MA_Admin</option>
                  <option value="181">Jonas Bamberg, BuFDi</option>
                  <option value="89">Stephen Bosch, MA_WiMA</option>
                  <option value="4">Christiane Basikow, MA_Admin</option>
                  <option value="102">Katja Roth-Kroeckel, MA_Admin</option>
                  <option value="235">Janis HilgenbrinkPraktikant, Praktikant</option>
                  <option value="278">Kilian Helfenbein, Student</option>
                  <option value="236">Severin Erbertseder, BuFDi</option>
                  <option value="114">Christine Kühnel, MA_Admin</option>
                  <option value="288">michail markakis </option>
                  <option value="1">Hendrik Huyskens, MA_WiMA</option>
                  <option value="255">Tina Sarenio, MA_Admin</option>
                  <option value="34">Catherina Cader, MA_WiMA</option>
                  <option value="101">Miriam Leich, MA_Admin</option>

                </select> </div>
            </div>
            <div id="div_id_kostentraeger" class="control-group"> <label for="id_kostentraeger"
                class="control-label requiredField">
                Kostentraeger<span class="asteriskField">*</span> </label>
              <div class="controls"> <select name="kostentraeger" class="select" required="" id="id_kostentraeger">
                  <option value="" selected="">---------</option>
                  <option value="316">307_Berlin_pariskonform</option>
                  <option value="311">304_ASEP_Phil2</option>
                  <option value="314">306_Fuhrpark_edis</option>
                  <option value="274">275_EnerSHelf</option>
                  <option value="299">293_AGYA-Water-Energy</option>
                  <option value="293">291_Solar_City_Spandau</option>
                  <option value="218">303_wirt_Ge_Betr</option>
                  <option value="287">285_E.DIS_NETZ_eLOG</option>
                  <option value="290">288_keMob_FFO_Vortrag</option>
                  <option value="280">279_keMOB_DINspec</option>
                  <option value="264">266_ keMob_WELMO</option>
                  <option value="273">806_Entwicklungsbudget_Mobilität</option>
                  <option value="168">802_Teambudget_OffGrid</option>
                  <option value="170">803_Teambudget_EMob</option>
                  <option value="169">804_Teambudget_TEO</option>
                  <option value="24">Diplomarbeit Max</option>
                  <option value="279">Ersthelfer</option>
                  <option value="317">308_MZB_Enabel</option>
                  <option value="269">271_HyStarter</option>
                  <option value="312">305_UMAS_Gasspeicher</option>
                  <option value="315">AG_Ladeinfrastruktur</option>
                  <option value="300">294_eGo^n</option>
                  <option value="291">289_MEP_Nepal_II</option>
                  <option value="263">AG_Zug</option>
                  <option value="288">286_Entwicklung-Kolleg</option>
                  <option value="258">263_keMob_WS_Haldensleben</option>
                  <option value="165">188_Allego_adR</option>
                  <option value="132">161_EUEI-PDF</option>
                  <option value="121">154_Mini-Grids-India</option>
                  <option value="114">148_Kenya_off_grid</option>
                  <option value="58">075_IAV_PHEV</option>
                  <option value="294">703_wGB_Mobi</option>
                  <option value="313">705_wGB_Localiser</option>
                  <option value="318">309_PeopleSuN</option>
                  <option value="34">055_Inselv_Karibik</option>
                  <option value="256">955_kind_krank</option>
                  <option value="230">240_NESP2</option>
                  <option value="301">295_EMob2025+</option>
                  <option value="295">292_Netz_eLog</option>
                  <option value="275">276_MMR_PE</option>
                  <option value="278">Team: Admin_intern</option>
                  <option value="23">000_Abschlussarbeiten</option>
                  <option value="27">Datenbankprojekt</option>
                  <option value="105">Masterarbeit Robin Göbel</option>
                  <option value="3">108_Multiprojektmanagement</option>
                  <option value="292">290_Mistra-WG</option>
                  <option value="224">Team MobS</option>
                  <option value="261">Dienstreise</option>
                  <option value="49">131_Off-Grid Algerien</option>
                  <option value="231">241_E-Brotgarten</option>
                  <option value="276">277_BER_Gutachten</option>
                  <option value="266">268_edis_SkizzeDHL</option>
                  <option value="259">264_keMob_Eva_Detmold</option>
                  <option value="257">262_keMob_ProPotsdam_WS</option>
                  <option value="267">269_AVSI</option>
                  <option value="268">270_BayWa</option>
                  <option value="213">Welcome</option>
                  <option value="192">Theoretical Transformation Research</option>
                  <option value="265">267_ keMob_Zukunftsforum</option>
                  <option value="262">WAM</option>
                  <option value="244">250_E-Land</option>
                  <option value="260">265_GIZ_Mauritius</option>
                  <option value="150">175_PTH_EAA</option>
                  <option value="104">143_windNODE</option>
                  <option value="53">035_Energienetz_WB (elubes)</option>
                  <option value="154">954_Auszahlung_Ueberstunden</option>
                  <option value="144">170_ImplaN</option>
                  <option value="91">smooth</option>
                  <option value="72">113_KWEA_an_Schulen</option>
                  <option value="81">901_Admin_Orga</option>
                  <option value="298">oemof_app_Berlin_Brandenburg</option>
                  <option value="198">805_Entwicklungsbudget_OffGrid</option>
                  <option value="186">204_EBus_Detmold</option>
                  <option value="217">230_REA-Nigeria</option>
                  <option value="270">272_Wine2Energy</option>
                  <option value="211">225_keMob_VortragNahverkehr</option>
                  <option value="271">273_AGYA-Mobility-WS</option>
                  <option value="203">217_Zambia_OG</option>
                  <option value="188">ecoPtG_wisdom</option>
                  <option value="178">197_EMK_Detmold</option>
                  <option value="171">190_Sperenberg</option>
                  <option value="197">212_keMob_degewo_AHP</option>
                  <option value="303">297_RLS-Kolleg</option>
                  <option value="223">Bereichsadmin</option>
                  <option value="124">RLI_Intern</option>
                  <option value="6">Redmine Konfigurieren</option>
                  <option value="227">237_keMob_ViP_Workshop</option>
                  <option value="193">208_ModAna_SuMoTra_Mau</option>
                  <option value="77">123_KWEA_Olymp</option>
                  <option value="174">193_Heraeus</option>
                  <option value="19">101_Akquise_TEO</option>
                  <option value="252">258_keMob_DKBworkshop</option>
                  <option value="253">259_Solar4Food</option>
                  <option value="254">260_keMob_LiREK_Antrag</option>
                  <option value="255">261_keMob_P2_Kurzbericht</option>
                  <option value="196">211_keMob_LISmap</option>
                  <option value="97">138_H2BER2</option>
                  <option value="233">2101_open_MODEX</option>
                  <option value="183">201_Male_VRE</option>
                  <option value="65">083_Akquise_Off-Grid</option>
                  <option value="21">060_Netzknotenmodell</option>
                  <option value="166">189_Nicaragua</option>
                  <option value="191">Komm_Runde</option>
                  <option value="305">Anya</option>
                  <option value="250">256_FlexMex</option>
                  <option value="195">210_keMob_EDis_Panketal</option>
                  <option value="96">950_Urlaub</option>
                  <option value="95">951_Krankheit</option>
                  <option value="167">801_Teambudget_Admin</option>
                  <option value="176">195_Pre_IMS2</option>
                  <option value="151">176_ViP_Potsdam</option>
                  <option value="79">128_EBTC_India</option>
                  <option value="156">180_EMobKo_FFO</option>
                  <option value="28">122_Hybrid Somalia</option>
                  <option value="130">159_SSA_Off-Grid</option>
                  <option value="187">205_DALE</option>
                  <option value="251">257_Open_MODEX</option>
                  <option value="67">097_S46_Exponat_HTW</option>
                  <option value="66">088_Suzlon_Azimut</option>
                  <option value="52">INENSUS</option>
                  <option value="209">224_C4D_Beratung</option>
                  <option value="11">109_EOS</option>
                  <option value="112">147_Akquise_Mob</option>
                  <option value="69">100_degewo_II</option>
                  <option value="136">164_GIZ_Workshop_Peking</option>
                  <option value="162">185_Kinzig_H2_Station</option>
                  <option value="307">Alexandra</option>
                  <option value="308">Marlin</option>
                  <option value="16">Team: Transformation von Energiesystemen</option>
                  <option value="30">Finanztool</option>
                  <option value="200">214_WS-OG</option>
                  <option value="116">150_REEEM</option>
                  <option value="142">168_Grips-WS</option>
                  <option value="75">119_ProtoBreeze</option>
                  <option value="90">135_Nigeria_GIS</option>
                  <option value="15">Geschäftsmodellrunde</option>
                  <option value="88">RLI-IT</option>
                  <option value="59">076_ENERKITE_ZIM</option>
                  <option value="309">299_open_plan</option>
                  <option value="117">151_AHK_PHL</option>
                  <option value="26">Reegis</option>
                  <option value="138">165_PIOnEER</option>
                  <option value="115">149_Jumeme</option>
                  <option value="31">Urlaubsplanung</option>
                  <option value="118">152_Werner&amp;Mertz</option>
                  <option value="89">134_ABB</option>
                  <option value="109">Bereich: Mobilität</option>
                  <option value="25">Python-Programmierprojekte</option>
                  <option value="113">MA-Runde</option>
                  <option value="122">testsmooth</option>
                  <option value="13">037_SmartPowerFlow</option>
                  <option value="128">157_Akquise_GF</option>
                  <option value="37">125_One_Shore</option>
                  <option value="50">039_100%PtG</option>
                  <option value="86">115_QinoTech</option>
                  <option value="39">127_EnAvAn</option>
                  <option value="78">124_IFC_Kenya</option>
                  <option value="179">198_PiXse</option>
                  <option value="17">Simulantinnen</option>
                  <option value="148">953_Elternzeit</option>
                  <option value="249">255_keMob_ElMobileBerlin</option>
                  <option value="289">287_APEC_Islands</option>
                  <option value="57">067_SF_EUREF</option>
                  <option value="44">Blaue Runde</option>
                  <option value="108">145_Nigeria-Electrification</option>
                  <option value="189">206_keMob_KW_i2g</option>
                  <option value="206">220_GRECO</option>
                  <option value="42">Team: Off-Grid</option>
                  <option value="64">082_Tetraeder</option>
                  <option value="310">Akquise</option>
                  <option value="55">000_Interne Projekte</option>
                  <option value="80">902_Admin_fachlich</option>
                  <option value="297">702_wGB_OG</option>
                  <option value="296">704_wGB_TEO</option>
                  <option value="145">171_Rafiki</option>
                  <option value="248">254_keMob_PotA_Berlin</option>
                  <option value="205">219_RLS-Meta</option>
                  <option value="302">296_keMob_Krampnitz</option>
                  <option value="137">Projektleiterrunde</option>
                  <option value="131">160_Werner&amp;Mertz_two</option>
                  <option value="202">216_Solid</option>
                  <option value="190">207_SzenarienDB</option>
                  <option value="272">274_Innogy</option>
                  <option value="155">179_EMobKo_Osna</option>
                  <option value="281">280_Energiequelle_oemof_WS</option>
                  <option value="158">oemof-intern</option>
                  <option value="182">200_trav_Conf</option>
                  <option value="181">199_SmEnDePath</option>
                  <option value="185">203_WePoSeKo</option>
                  <option value="60">078_Luftstrom</option>
                  <option value="12">102_reegis_hp</option>
                  <option value="32">Projekt Handbuch</option>
                  <option value="35">Projekt-Reportsystem</option>
                  <option value="33">Projekt - Management Handbuch</option>
                  <option value="119">952_Mutterschutz</option>
                  <option value="237">247_keMob_HOWOGE</option>
                  <option value="123">155_BattEl</option>
                  <option value="228">238_PeopleSuN</option>
                  <option value="304">298_YemHE</option>
                  <option value="70">104_HTW_FC_EUREF</option>
                  <option value="234">3101_Modex_FLEXMEX</option>
                  <option value="194">209_knMob_FEW_Luft</option>
                  <option value="149">174_Off-grid_micro-grids</option>
                  <option value="277">278_keMob_Kalletal_Vorstudie</option>
                  <option value="126">Gleitzeit</option>
                  <option value="184">202_PL_RE_Tanz</option>
                  <option value="306">Ricardo</option>
                  <option value="99">092_SMENOS</option>
                  <option value="110">TestWiki</option>
                  <option value="18">Promovierendenrunde</option>
                  <option value="46">130_OneHour_Py</option>
                  <option value="134">RLI_kfm_intern</option>
                  <option value="120">153_Off_Wind</option>
                  <option value="133">162_Kenya_GIZ</option>
                  <option value="94">999_RLI_Vorträge</option>
                  <option value="93">998_Kommunikation</option>
                  <option value="71">112_2020_Wärme</option>
                  <option value="63">094_kWEA_MuK_IAV</option>
                  <option value="152">178_EMobKo_Kölleda</option>
                  <option value="143">169_Kopernikus</option>
                  <option value="215">228_H2Mob</option>
                  <option value="220">232_keMob_Emden_Antrag</option>
                  <option value="221">233_keMob_EMK_Witten</option>
                  <option value="225">235_SEV-EZ</option>
                  <option value="226">236_MEP-Nepal-I</option>
                  <option value="48">129_ADB_Hatiya</option>
                  <option value="9">036_BNE</option>
                  <option value="180">Blockchain-Runde</option>
                  <option value="68">099_HBW_FastGens</option>
                  <option value="106">144_TXL</option>
                  <option value="127">156_ASEP_Phil</option>
                  <option value="92">137_GIZ_PEP</option>
                  <option value="74">116_H2_BER</option>
                  <option value="147">173_WS_EMob_Kinzig</option>
                  <option value="14">000_RLI - allgemein</option>
                  <option value="232">1101_open_BEA</option>
                  <option value="56">066_SF_Suedkreuz</option>
                  <option value="5">110_CAES</option>
                  <option value="76">121_McPhysible</option>
                  <option value="175">194_Ener_Phil</option>
                  <option value="100">140_open_eGo</option>
                  <option value="38">126_KKW_Rheinsberg</option>
                  <option value="164">186_i2G</option>
                  <option value="8">pahesmf</option>
                  <option value="141">167_DY_Elec</option>
                  <option value="98">139_WW_Dessau</option>
                  <option value="129">158_Myanmar_Off-Grid</option>
                  <option value="102">142_Renac_lecture</option>
                  <option value="41">PTG-Runde</option>
                  <option value="140">300_Testprojekt</option>
                  <option value="243">Iris Masterarbeit</option>
                  <option value="238">248_E-Metrobus</option>
                  <option value="282">282_DB_ELFI2</option>
                  <option value="159">182_H2_Mobility</option>
                  <option value="157">181_EnTraPhil</option>
                  <option value="160">183_EW_Potsdam</option>
                  <option value="283">281_LIS_2030</option>
                  <option value="214">227_keMob_LDS</option>
                  <option value="284">283_IASS-WS</option>
                  <option value="229">239_Off-Grid-NDC</option>
                  <option value="172">191_PIOnEER2</option>
                  <option value="111">146_El_Düso</option>
                  <option value="212">226_keMob_Kreislippe</option>
                  <option value="216">229_keMob_Gewobag_AHP</option>
                  <option value="222">234_OSE_Modellvergleich</option>
                  <option value="285">284_LOD-GEOSS</option>
                  <option value="286">GRELMO</option>
                  <option value="245">251_keMob_NV_TMB_Vortrag</option>
                  <option value="61">087_HTW-Pitch-Prüfstand</option>
                  <option value="62">090_HYPOS</option>
                  <option value="73">114_Modell_PTG_Audi</option>
                  <option value="204">218_keMob_Trier_DenkWerk</option>
                  <option value="246">252_WS_WFBB</option>
                  <option value="247">253_C-BEAR</option>
                  <option value="146">172_Myanmar_GIZ</option>
                  <option value="153">177_OpRobA_MobEnSys</option>
                  <option value="239">243_Travelling_Conference_SEA2</option>
                  <option value="219">231_keMob_Emden_Busse</option>
                  <option value="199">213_BBAEG</option>
                  <option value="173">192_oemof_heat</option>
                  <option value="201">215_SKS</option>
                  <option value="208">222_MTU_LIS</option>
                  <option value="207">221_Gartenfeld</option>
                  <option value="87">132_FU_klimaneutral</option>
                  <option value="161">184_Kinzig_LIS</option>
                  <option value="163">187_NOW</option>
                  <option value="236">246_Humphry</option>
                  <option value="101">141_ecoPtG</option>
                  <option value="210">223_Ketzin</option>
                  <option value="177">196_Allego_KM</option>
                  <option value="103">136_Eranetmed</option>
                  <option value="135">163_open_FRED</option>
                  <option value="139">166_BBB_2</option>
                  <option value="29">111_OGEvGE</option>
                  <option value="235">245_open_BEA</option>
                  <option value="240">244_keMob_MV_Vortrag</option>
                  <option value="242">249_H2_WS</option>
                  <option value="241">242_ClimateResElec_SEA</option>

                </select> </div>
            </div>
            <div id="div_id_start" class="control-group"> <label for="id_start" class="control-label requiredField">
                Start<span class="asteriskField">*</span> </label>
              <div class="controls"> <input type="text" name="start" class="dateinput" required="" id="id_start"> </div>
            </div>
            <div id="div_id_end" class="control-group"> <label for="id_end" class="control-label requiredField">
                End<span class="asteriskField">*</span> </label>
              <div class="controls"> <input type="text" name="end" class="dateinput" required="" id="id_end"> </div>
            </div>
            <div id="div_id_hours" class="control-group"> <label for="id_hours" class="control-label requiredField">
                Hours<span class="asteriskField">*</span> </label>
              <div class="controls"> <input type="number" name="hours" class="numberinput" required="" id="id_hours">
              </div>
            </div>
            <div id="div_id_space" class="control-group"> <label for="id_space" class="control-label requiredField">
                Space<span class="asteriskField">*</span> </label>
              <div class="controls"> <input type="number" name="space" class="numberinput" required="" id="id_space">
              </div>
            </div>
            <div id="div_id_br" class="control-group"> <label for="id_br" class="control-label ">
                Br
              </label>
              <div class="controls"> <select name="br" class="nullbooleanselect" id="id_br">
                  <option value="unknown" selected="">Unbekannt</option>
                  <option value="true">Ja</option>
                  <option value="false">Nein</option>

                </select> </div>
            </div>
            <div id="div_id_timebutler" class="control-group"> <label for="id_timebutler" class="control-label ">
                Timebutler
              </label>
              <div class="controls"> <select name="timebutler" class="nullbooleanselect" id="id_timebutler">
                  <option value="unknown" selected="">Unbekannt</option>
                  <option value="true">Ja</option>
                  <option value="false">Nein</option>

                </select> </div>
            </div>
            <div id="div_id_salary" class="control-group"> <label for="id_salary" class="control-label ">
                Salary
              </label>
              <div class="controls"> <select name="salary" class="nullbooleanselect" id="id_salary">
                  <option value="unknown" selected="">Unbekannt</option>
                  <option value="true">Ja</option>
                  <option value="false">Nein</option>

                </select> </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>

</main>
{% endblock content %}

{% block js %}
{{ super() }}


{% endblock js %}