{% extends "src/onboarding/layout.html" %}

{% block content %}
<main class="flex-shrink-0">

    <body>
        <div class="container-xxl p-30">
            <div class="row">
                <div class="col-md-12 main-datatable">
                    <div class="card_body">
                        <div class="row d-flex">
                            <div class="col-sm-4 createSegment">
                                <a class="btn btn-primary  " href="./eintritt/index.html"><i class="bi bi-person-plus"></i>
                                    Create New User</a>
                            </div>
                        </div>
                        <div class="overflow-x">
                            <table style="width:100%;" id="filtertable"
                                class="table cust-datatable dataTable no-footer">
                                <thead>
                                    <tr>
                                        <th style="min-width:150px;">Name</th>
                                        <th style="min-width:100px;">Status</th>
                                        <th style="min-width:150px;">Team</th>
                                        <th style="min-width:100px;">Date</th>
                                        <th style="min-width:150px;">Action</th>
                                        <th style="min-width:150px;">Benutzer konto</th>

                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td><span > Majd Rekik</span></td>
                                        <td>Student</td>
                                        <td><span class="mode mode_team">Processing</span></td>
                                        <td>17-Apr-2020</td>
                                        <td>
                                            <div class="btn-group">
                                                <a class="  dropdown_icon" data-bs-toggle="dropdown"><i class="bi bi-pencil-square  "></i>
                                                </a>
                                                <ul class="dropdown-menu">
                                                    <li> <a class="dropdown-item" href="./eintritt/index.html"> <i class="bi bi-pencil-fill  "></i>Edit Eintritt form</a> </li>
                                                    <li>
                                                        <hr class="dropdown-divider">
                                                    </li>
                                                    <li><a class="dropdown-item" href="#"> <i class="bi bi-trash"></i>Delete </a></li>
                                                
                                                </ul>
                                            </div>
                                        </td>
                                        <td>
                                            <div class="btn-group">
                                                <a class=" dropdown_icon"  href="./konto/index.html"><i class="bi bi-person-lines-fill mode mode_Konto"></i>
                                                </a>
                                               
                                            </div>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </body>



</main>
{% endblock content %}

{% block js %}
{{ super() }}


{% endblock js %}