<!DOCTYPE html>
<html lang="en" class="h-100">
  <head>
    <meta charset="UTF-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>RMS-Design</title>
    <link rel="stylesheet" type="text/css" href="/static/scss/styles.scss" />
  </head>
  <body class="d-flex flex-column h-100">
    <main class="flex-shrink-0">{% block content %}{% endblock %}</main>

    <script type="module" src="/static/js/main.js"></script>
    {% block js %}
    <script type="module" src="./onboarding.js"></script>
    {% endblock %}
  </body>
</html>
