{% extends "src/layout.html" %}

{% block content %}

<section class="read-layout">
  <div class="read-layout__header"></div>
  <div class="read-layout__content container">
    <div class="row">
      <div class="col">
        <h1>Über das RMS</h1>
        <section class="read-layout__section">
          <p>Das <span class="fst-italic">RLI Management System</span>, kurz <span class="fst-italic">RMS</span>, ist die Nutzerschnittstelle zu unserer Projektdatenbank. Ursprünglich unter der Bezeichnung <span class="fst-italic">Django</span> bekannt, diente es zunächst der Stundenbuchung sowie der Darstellung der gebuchten Stunden pro Projekt.</p>
          <p>Ab 2021 wurde es Schritt für Schritt erweitert. So kamen die Projektstammdaten (Name, Laufzeit, Projektart, Projektleitung etc.) hinzu, die Erfassung des Projektbudgets, der laufenden Projektkosten wie Unteraufträgen und Dienstreisekosten sowie der Projekteinnahmen. Dabei ist das <span class="fst-italic">RMS</span> zugleich Eingabemaske für die Datenbank und Projektcontrollinginstrument für Projektleitung und Administration. Das <span class="fst-italic">RMS</span> stellt sicher, dass die Projektinformationen, die der Verwaltung und der Projektleitung vorliegen, identisch sind.</p>
          <p>Darüber hinaus können die Bereichsleitungen das <span class="fst-italic">RMS</span> zur Personalplanung nutzen. Und schließlich stellt es der Geschäftsführung und den Bereichsleitungen auf einen Blick wichtige Kennzahlen, bspw. zur Personaldecke oder dem Eigenmittelverbrauch zur Verfügung.</p>
          <p><span class="fst-italic">RMS</span> wurde von Kerstin erdacht und von Alexis und Hendrik umgesetzt. Bryan war ebenfalls involviert und sorgte dafür, dass du als Benutzer*in des <span class="fst-italic">RMS</span> dich gut zurechtfindest. Falls du Fragen und oder Anmerkungen zum <span class="fst-italic">RMS</span> hast, kannst du dich gerne jederzeit an uns wenden.</p>
          <a href="#" class="btn btn-primary" tabindex="-1" role="button" aria-disabled="true">Kontakt</a>
        </section>
      </div>
    </div>
  </div>
</section>

{% endblock %}

{% block js %}
<script type="module" src="/index.js"></script>
{% endblock %}
