{% extends "src/layout.html" %}

{% block content %}

<section class="read-layout">
  <div class="read-layout__header"></div>
  <div class="read-layout__content container">
    <div class="row">
      <div class="col">
        <h1>About</h1>
        <section class="read-layout__section">
          <h2>What is RMS?</h2>
          <p>On the other hand, we denounce with righteous indignation and dislike men who are so beguiled and demoralized by the charms of pleasure of the moment, so blinded by desire, that they cannot foresee the pain and trouble that are bound to ensue; and equal blame belongs to those who fail in their duty through weakness of will, which is the same as saying through shrinking from toil and pain.</p>
          <p>On the other hand, we denounce with righteous indignation and dislike men who are so beguiled and demoralized by the charms of pleasure of the moment, so blinded by desire, that they cannot foresee the pain and trouble that are bound to ensue; and equal blame belongs to those who fail in their duty through weakness of will, which is the same as saying through shrinking from toil and pain.</p>
        </section>
        <section class="read-layout__section">
          <h2>What can I do on RMS?</h2>
          <p>On the other hand, we denounce with righteous indignation and dislike men who are so beguiled and demoralized by the charms of pleasure of the moment, so blinded by desire, that they cannot foresee the pain and trouble that are bound to ensue; and equal blame belongs to those who fail in their duty through weakness of will, which is the same as saying through shrinking from toil and pain.</p>
        </section>
      </div>
    </div>
  </div>
</section>

{% endblock %}

{% block js %}
<script type="module" src="/index.js"></script>
{% endblock %}
