{% extends "src/layout.html" %} {% block content %}

<section class="container">
  <h1>RLI-Design</h1>
  <ul>
    <li><a href="/dashboard/">Dashboard</a></li>
    <li><a href="/ds/">Design system</a></li>
    <li><a href="/login/">Login</a></li>
    <li><a href="/onboarding/">On-boarding</a></li>
    <li><a href="/spinner/">Loading Spinner</a></li>
  </ul>
  <a href="https://github.com/rl-institut/rli-design"
    ><button type="button" class="btn btn-primary">GitHub Repo</button></a
  >
</section>

{% endblock %}
