<!DOCTYPE html>
<html lang="en" class="h-100">
  <head>
    <meta charset="UTF-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>RMS-Design</title>
    <link rel="stylesheet" type="text/css" href="/static/scss/styles.scss" />
  </head>
  <body class="d-flex flex-column h-100">
    <header>
      <nav class="navbar navbar-light navbar-expand-md bg-white fixed-top shadow-sm">
        <div class="container-fluid px-3">
          <a class="navbar-brand" href="#" aria-current="page">RLI Management System</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar" aria-controls="offcanvasNavbar">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasNavbar" aria-labelledby="offcanvasNavbarLabel">
            <div class="offcanvas-header">
              <h5 class="offcanvas-title" id="offcanvasNavbarLabel">RMS Login</h5>
              <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
            </div>
            <div class="offcanvas-body">
              <ul class="navbar-nav justify-content-end flex-grow-1">
                <li class="nav-item">
                  <a class="nav-link" href="#">About</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#">Contact</a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </nav>
    </header>

    <main class="bd-content flex-shrink-0" role="main">
      {% block content %}{% endblock %}
    </main>

    <footer class="footer mt-auto py-2 bg-light bg-white">
      <div class="container-fluid d-flex justify-content-between">
        <span class="fw-light">Reiner Lemoine Institut</span>
        <span><a href="#">v3.42.1</a></span>
      </div>
    </footer>

    <script type="module" src="/static/js/main.js"></script>
    {% block js %}{% endblock %}
  </body>
</html>
