{% extends "src/ds/layout.html" %}

{% block content %}

<section class="ds">
  <div class="ds__nav">
    <ul class="ds-sidebarnav">
      <li class="ds-sidebarnav__item">
        <a class="ds-sidebarnav__link ds-sidebarnav__link--collapse" data-bs-toggle="collapse" data-bs-target="#home-collapse" aria-expanded="true">
          Get started
        </a>
        <div class="collapse show" id="home-collapse">
          <ul class="ds-sidebarnav ds-sidebarnav--subcat">
            <li><a href="#" class="ds-sidebarnav__link ds-sidebarnav__link--subpage">Overview</a></li>
            <li><a href="#" class="ds-sidebarnav__link ds-sidebarnav__link--subpage">Design tokens</a></li>
          </ul>
        </div>
      </li>
      <li class="ds-sidebarnav__item">
        <a class="ds-sidebarnav__link ds-sidebarnav__link--collapse" data-bs-toggle="collapse" data-bs-target="#general-collapse" aria-expanded="false">
          General
        </a>
        <div class="collapse" id="general-collapse">
          <ul class="ds-sidebarnav ds-sidebarnav--subcat">
            <li><a href="#" class="ds-sidebarnav__link ds-sidebarnav__link--subpage">Layout</a></li>
            <li><a href="#" class="ds-sidebarnav__link ds-sidebarnav__link--subpage">Colors</a></li>
          </ul>
        </div>
      </li>
      <li class="ds-sidebarnav__item">
        <a class="ds-sidebarnav__link ds-sidebarnav__link--collapse" data-bs-toggle="collapse" data-bs-target="#components-collapse" aria-expanded="false">
          Components
        </a>
        <div class="collapse" id="components-collapse">
          <ul class="ds-sidebarnav ds-sidebarnav--subcat">
            <li><a href="#" class="ds-sidebarnav__link ds-sidebarnav__link--subpage">Buttons</a></li>
            <li><a href="#" class="ds-sidebarnav__link ds-sidebarnav__link--subpage">Links</a></li>
            <li><a href="#" class="ds-sidebarnav__link ds-sidebarnav__link--subpage">Tables</a></li>
          </ul>
        </div>
      </li>
    </ul>
  </div>
  <div class="ds__container">
    <h1>RMS Design System</h1>
    <div class="ds__item bs-row">
      <h2>Layout</h2>
      <p>RMS is primarily based on ZURB Foundation. We will migrate the CSS system to Bootstrap. In order to prevent display errors and bugs, we should be sure we don't use classes that are used in Foundation. Since Bootstrap has the same type of structure as Foundation, we should use a different system. For that purpose, use BEM system as much as possible: <code>block__element--modifier</code>. Whenever possible use <a href="https://sass-lang.com/documentation/at-rules/extend" target=“_blank“ rel=“noopener noreferrer“>@extend from Sass:</a> <code>@extend {bootstrap-class}</code> if the styles you are looking for are already available under a Bootstrap class.</p>
      <p>There are exceptions to the use of BEM, such as <code>.row</code> and <code>.col</code>. Use in that case the <code>.bs-row</code> and <code>.bs-col</code> classes. <code>@extend</code> is used to integrate the Bootsrap class declarations in these custom classes. Similarly, if only a Bootstrap class can be used and not the BEM system, create a new class and declaration: <code>.bs-{bootstrap-class}</code> and extend the Bootstrap class: <code>@extend {bootstrap-class}</code>.</p>
      <p>To override Bootstrap variables, use <code>_variable_overrides.scss</code> and place it at the right position in the document (check where it is located inside <code>node_modules/bootstrap/scss/_variables.scss</code>), to be sure not to override the varibale more than once.</p>
    </div>
    <div class="ds__item bs-row">
      <div class="bs-col">
        <h2>Colors</h2>
        <p>Primary color is <code>$blue</code>. It is mostly used for text, but also some background elements images.</p>
        <p>Color for anchors is <code>$link-color</code>.</p>
        <p>Try to use very light background colors such as <code>$white</code> or <code>$gray-100</code>. You can use box-shadows such as <code>$box-shadow-sm</code> on a component if the component and background both have <code>$white</code> as a background-color.</p>
      </div>
      <div class="bs-col ds__colors">
        <div class="bs-row sample sample--blue">$blue</div>
        <div class="bs-row sample sample--black">$black</div>
        <div class="bs-row sample sample--gray-900">$gray-900</div>
        <div class="bs-row sample sample--gray-800">$gray-800</div>
        <div class="bs-row sample sample--gray-700">$gray-700</div>
        <div class="bs-row sample sample--gray-600">$gray-600</div>
        <div class="bs-row sample sample--gray-500">$gray-500</div>
        <div class="bs-row sample sample--gray-400">$gray-400</div>
        <div class="bs-row sample sample--gray-300">$gray-300</div>
        <div class="bs-row sample sample--gray-200">$gray-200</div>
        <div class="bs-row sample sample--gray-100">$gray-100</div>
        <div class="bs-row sample sample--white">$white</div>
      </div>
    </div>
    <div class="ds__item bs-row">
      <div class="bs-col">
        <p>There are also secondary colors to use whenwe want to highlight something special or different. Not to overruse.</p>
      </div>
      <div class="bs-col ds__colors">
        <div class="bs-row sample sample--c-color-blue-5">$c-color-blue-5</div>
        <div class="bs-row sample sample--c-color-blue-4">$c-color-blue-4</div>
        <div class="bs-row sample sample--c-color-blue-3">$c-color-blue-3</div>
        <div class="bs-row sample sample--c-color-blue-2">$c-color-blue-2</div>
      </div>
      <div class="bs-col ds__colors">
        <div class="bs-row sample sample--c-color-green-5">$c-color-green-5</div>
        <div class="bs-row sample sample--c-color-green-4">$c-color-green-4</div>
        <div class="bs-row sample sample--c-color-green-3">$c-color-green-3</div>
        <div class="bs-row sample sample--c-color-green-2">$c-color-green-2</div>
      </div>
      <div class="bs-col ds__colors">
        <div class="bs-row sample sample--c-color-yellow-5">$c-color-yellow-5</div>
        <div class="bs-row sample sample--c-color-yellow-4">$c-color-yellow-4</div>
        <div class="bs-row sample sample--c-color-yellow-3">$c-color-yellow-3</div>
        <div class="bs-row sample sample--c-color-yellow-2">$c-color-yellow-2</div>
      </div>
      <div class="bs-col ds__colors">
        <div class="bs-row sample sample--c-color-red-5">$c-color-red-5</div>
        <div class="bs-row sample sample--c-color-red-4">$c-color-red-4</div>
        <div class="bs-row sample sample--c-color-red-3">$c-color-red-3</div>
        <div class="bs-row sample sample--c-color-red-2">$c-color-red-2</div>
      </div>
    </div>
    <div class="ds__item bs-row">
      <div class="bs-col-8">
        <h2>Design tokens</h2>
        <p>With design tokens we want to create a clear design structure that can be used by both designers and developers across projects. They are still in test phase and need be updated but they already can be used. To know more about design tokens, please read <a href="https://www.invisionapp.com/inside-design/design-tokens/">this article from InVision</a>.</p>
        <p>The tokens are constructed as following: <code>category.usage.component.subitem.state</code> whereas <code>subitem</code> and <code>state</code> are optional.</p>
        <p>Since our CSS structure heavily relies on <code>@extend</code> in order to properly combine BEM and Bootstrap, the tokens are related to both Bootstrap CSS variables and utility classes.</p>
      </div>
      <div class="bs-col">
        <table class="dt-table">
          <thead>
            <tr>
              <th scope="col">Token</th>
              <th scope="col">Role</th>
              <th scope="col">Variable</th>
              <th scope="col">Utility</th>
            </tr>
          </thead>
          <tbody id="js-dtTable">
          </tbody>
        </table>
      </div>
    </div>
    <div class="ds__item bs-row">
      <div class="bs-col-8">
        <h2>Components</h2>
        <ul>
          <li>Button</li>
          <li>Link</li>
          <li><a href="/ds/table/index.html">Table</a></li>
        </ul>
      </div>
    </div>
  </div>
</section>

{% endblock %}

{% block js %}
<script type="module" src="/ds/index.js"></script>
{% endblock %}