{% extends "src/login/layout.html" %}

{% block content %}

<section class="ds">
  <div class="ds__container">
    <h1>RMS Design System</h1>
    <div class="ds__item bs-row">
      <h2>Layout</h2>
      <p>RMS is primarily based on ZURB Foundation. We will migrate the CSS system to Bootstrap. In order to prevent display errors and bugs, we should be sure we don't use classes that are used in Foundation. Since Bootstrap has the same type of structure as Foundation, we should use a different system. For that purpose, use BEM system as much as possible: <code>block__element--modifier</code>. Whenever possible use <a href="https://sass-lang.com/documentation/at-rules/extend" target=“_blank“ rel=“noopener noreferrer“>@extend from Sass:</a> <code>@extend {bootstrap-class}</code> if the styles you are looking for are already available under a Bootstrap class.</p>
      <p>There are exceptions to the use of BEM, such as <code>.row</code> and <code>.col</code>. Use in that case the <code>.bs-row</code> and <code>.bs-col</code> classes. <code>@extend</code> is used to integrate the Bootsrap class declarations in these custom classes. Similarly, if only a Bootstrap class can be used and not the BEM system, create a new class and declaration: <code>.bs-{bootstrap-class}</code> and extend the Bootstrap class: <code>@extend {bootstrap-class}</code>.</p>
      <p>To override Bootstrap variables, use <code>_variable_overrides.scss</code> and place it at the right position in the document (check where it is located inside <code>node_modules/bootstrap/scss/_variables.scss</code>), to be sure not to override the varibale more than once.</p>
    </div>
    <div class="ds__item bs-row">
      <div class="bs-col">
        <h2>Colors</h2>
        <p>Primary color is <code>$blue</code>. It is mostly used for text, but also some background elements images.</p>
        <p>Color for anchors is <code>$link-color</code>.</p>
        <p>Try to use very light background colors such as <code>$white</code> or <code>$gray-100</code>. You can use box-shadows such as <code>$box-shadow-sm</code> on a component if the component and background both have <code>$white</code> as a background-color.</p>
      </div>
      <div class="bs-col ds__colors">
        <div class="bs-row sample sample--blue">$blue</div>
        <div class="bs-row sample sample--black">$black</div>
        <div class="bs-row sample sample--gray-900">$gray-900</div>
        <div class="bs-row sample sample--gray-800">$gray-800</div>
        <div class="bs-row sample sample--gray-700">$gray-700</div>
        <div class="bs-row sample sample--gray-600">$gray-600</div>
        <div class="bs-row sample sample--gray-500">$gray-500</div>
        <div class="bs-row sample sample--gray-400">$gray-400</div>
        <div class="bs-row sample sample--gray-300">$gray-300</div>
        <div class="bs-row sample sample--gray-200">$gray-200</div>
        <div class="bs-row sample sample--gray-100">$gray-100</div>
        <div class="bs-row sample sample--white">$white</div>
      </div>
    </div>
    <div class="ds__item bs-row">
      <div class="bs-col">
        <p>There are also secondary colors to use whenwe want to highlight something special or different. Not to overruse.</p>
      </div>
      <div class="bs-col ds__colors">
        <div class="bs-row sample sample--c-color-blue-900">$blue-900</div>
        <div class="bs-row sample sample--c-color-blue-800">$blue-800</div>
        <div class="bs-row sample sample--c-color-blue-700">$blue-700</div>
        <div class="bs-row sample sample--c-color-blue-600">$blue-600</div>
        <div class="bs-row sample sample--c-color-blue-500">$blue-500</div>
        <div class="bs-row sample sample--c-color-blue-400">$blue-400</div>
        <div class="bs-row sample sample--c-color-blue-300">$blue-300</div>
        <div class="bs-row sample sample--c-color-blue-200">$blue-200</div>
        <div class="bs-row sample sample--c-color-blue-100">$blue-100</div>
      </div>
      <div class="bs-col ds__colors">
        <div class="bs-row sample sample--c-color-green-900">$green-900</div>
        <div class="bs-row sample sample--c-color-green-800">$green-800</div>
        <div class="bs-row sample sample--c-color-green-700">$green-700</div>
        <div class="bs-row sample sample--c-color-green-600">$green-600</div>
        <div class="bs-row sample sample--c-color-green-500">$green-500</div>
        <div class="bs-row sample sample--c-color-green-400">$green-400</div>
        <div class="bs-row sample sample--c-color-green-300">$green-300</div>
        <div class="bs-row sample sample--c-color-green-200">$green-200</div>
        <div class="bs-row sample sample--c-color-green-100">$green-100</div>
      </div>
      <div class="bs-col ds__colors">
        <div class="bs-row sample sample--c-color-yellow-900">$yellow-900</div>
        <div class="bs-row sample sample--c-color-yellow-800">$yellow-800</div>
        <div class="bs-row sample sample--c-color-yellow-700">$yellow-700</div>
        <div class="bs-row sample sample--c-color-yellow-600">$yellow-600</div>
        <div class="bs-row sample sample--c-color-yellow-500">$yellow-500</div>
        <div class="bs-row sample sample--c-color-yellow-400">$yellow-400</div>
        <div class="bs-row sample sample--c-color-yellow-300">$yellow-300</div>
        <div class="bs-row sample sample--c-color-yellow-200">$yellow-200</div>
        <div class="bs-row sample sample--c-color-yellow-100">$yellow-100</div>
      </div>
      <div class="bs-col ds__colors">
        <div class="bs-row sample sample--c-color-red-900">$red-900</div>
        <div class="bs-row sample sample--c-color-red-800">$red-800</div>
        <div class="bs-row sample sample--c-color-red-700">$red-700</div>
        <div class="bs-row sample sample--c-color-red-600">$red-600</div>
        <div class="bs-row sample sample--c-color-red-500">$red-500</div>
        <div class="bs-row sample sample--c-color-red-400">$red-400</div>
        <div class="bs-row sample sample--c-color-red-300">$red-300</div>
        <div class="bs-row sample sample--c-color-red-200">$red-200</div>
        <div class="bs-row sample sample--c-color-red-100">$red-100</div>
      </div>
    </div>
  </div>
</section>

{% endblock %}