{% extends "src/onboarding/layout.html" %}

{% block content %}
<main class="flex-shrink-0">
  <div class="container">
    <div class="row">
      <div >
        <div class="profile-wrapper wow fadeInRight" >
          <h3>Konto Details</h3>
          <div class="about-profile">
            <ul class="admin-profile">
              <li><span class="pro-title">UserName:</span> <span class="pro-detail">majd rekik</span></li>
              <li><span class="pro-title">DB-Zugang:</span> <span class="pro-detail">True</span></li>
              <li><span class="pro-title">Nextcloud-Zugang:</span> <span class="pro-detail">False</span></li>
              <li><span class="pro-title">PC-Setup</span> <span class="pro-detail">False</span></li>
              <li><span class="pro-title"> OS:</span> <span class="pro-detail">Windows</span></li>
              <li><span class="pro-title">Zusätzliche Software:</span> <span class="pro-detail">rgrg</span></li>
              <li><span class="pro-title">Mailinglisten:</span> <span class="pro-detail">Team EEMob MA</span> </li>
              <li><span class="pro-title">Projekt-Zugänge:</span>

              <li><span class="pro-detail">307_Berlin_pariskonform</span>
                <table class="pro" >
                  <tr><td>Akquise</td><td>NoApproval</td></tr>
                  <tr><td>Projektsteuerung</td><td>NoApproval</td></tr>
                  <tr><td>Projektinhalte</td><td>NoApproval</td></tr>
                  <tr><td>Berichte</td><td>NoApproval</td></tr>
                  <tr><td>OEA</td><td>NoApproval</td></tr>
                  <tr><td>Bilder</td><td>NoApproval</td></tr>
                  <tr><td>Präsentation</td><td>NoApproval</td></tr>
                  <tr><td>Know-How</td><td>NoApproval</td></tr>
                  <tr><td>Stud_ordner</td><td>NoApproval</td></tr>
                </table>
              </li>
              <li><span class="pro-detail">500_Berlin_pariskonform</span>
                <table class="pro" >
                  <tr><td>Akquise</td><td>Approval</td></tr>
                  <tr><td>Projektsteuerung</td><td>Approval</td></tr>
                  <tr><td>Projektinhalte</td><td>Approval</td></tr>
                  <tr><td>Berichte</td><td>NoApproval</td></tr>
                  <tr><td>OEA</td><td>NoApproval</td></tr>
                  <tr><td>Bilder</td><td>NoApproval</td></tr>
                  <tr><td>Präsentation</td><td>NoApproval</td></tr>
                  <tr><td>Know-How</td><td>NoApproval</td></tr>
                  <tr><td>Stud_ordner</td><td>NoApproval</td></tr>
                </table>
              </li>
            </ul>
          </div>
          <a href="#" class="btn btn-common"><i class="icon-paper-clip"></i> Download Detail</a>

        </div>
      </div>
    </div>
  </div>
</main>
{% endblock content %}
