{% extends "src/onboarding/layout.html" %}

{% block content %}
<main class="flex-shrink-0">
  <div class="container">
    <div class="row">
      <div >
        <div  >
          <h3>Konto Details</h3>
          <div class="details">
            <ul>
              <li><span class="title-detail">UserName:</span> <span >majd rekik</span></li>
              <li><span class="title-detail">DB-Zugang:</span> <span >True</span></li>
              <li><span class="title-detail">Nextcloud-Zugang:</span> <span >False</span></li>
              <li><span class="title-detail">PC-Setup</span> <span >False</span></li>
              <li><span class="title-detail"> OS:</span> <span >Windows</span></li>
              <li><span class="title-detail">Zusätzliche Software:</span> <span >rgrg</span></li>
              <li><span class="title-detail">Mailinglisten:</span> <span>Team EEMob MA</span> </li>
              <li><span class="title-detail">Projekt-Zugänge:</span>  

                <li><span class="projekt-detail">307_Berlin_pariskonform</span>
                  <table class="projekt-right" >
                    <tr><td>Akquise</td><td>NoApproval</td></tr>
                    <tr><td>Projektsteuerung</td><td>NoApproval</td></tr>
                    <tr><td>Projektinhalte</td><td>NoApproval</td></tr>
                    <tr><td>Berichte</td><td>NoApproval</td></tr>
                    <tr><td>OEA</td><td>NoApproval</td></tr>
                    <tr><td>Bilder</td><td>NoApproval</td></tr>
                    <tr><td>Präsentation</td><td>NoApproval</td></tr>
                    <tr><td>Know-How</td><td>NoApproval</td></tr>
                    <tr><td>Stud_ordner</td><td>NoApproval</td></tr>
                  </table>
                </li>
                <li><span class="projekt-detail">500_Berlin_pariskonform</span>
                  <table class="projekt-right" >
                    <tr><td>Akquise</td><td>Approval</td></tr>
                    <tr><td>Projektsteuerung</td><td>Approval</td></tr>
                    <tr><td>Projektinhalte</td><td>Approval</td></tr>
                    <tr><td>Berichte</td><td>NoApproval</td></tr>
                    <tr><td>OEA</td><td>NoApproval</td></tr>
                    <tr><td>Bilder</td><td>NoApproval</td></tr>
                    <tr><td>Präsentation</td><td>NoApproval</td></tr>
                    <tr><td>Know-How</td><td>NoApproval</td></tr>
                    <tr><td>Stud_ordner</td><td>NoApproval</td></tr>
                  </table>
                </li>
              </li>
            </ul>
          </div>
          <a class="btn btn-common">Download Detail</a>
         
        </div>
      </div>   
    </div>
  </div>
</main>
{% endblock content %}
