{% extends "src/onboarding/layout.html" %}

{% block content %}

<main class="flex-shrink-0">
  <div class="container">
    <div class="py-5  text-center">
      <h2>Neuer Account</h2>
    </div>
  </div>
  <div class="container">
    <form novalidate action="">
      <div class="row g-3">
        <h5>Angaben zur Erstellung von User Accounts für neue (MA/Studierenden/Praktikant*innen)</h5>

        <div id="div_id_mailinglists" class="mb-3">
          <label class="form-label requiredField">
            Mailinglists<span class="asteriskField">*</span>
          </label>
          <div class="container">
            <div class="row">
              <div class="col">
                <div class="form-check">
                  <input type="checkbox" class="form-check-input" name="mailinglists" value="1" id="id_mailinglists_0">
                  <label for="id_mailinglists_0" class="form-check-label">
                    Team EEMob MA
                  </label>
                </div>
                <div class="form-check">
                  <input type="checkbox" class="form-check-input" name="mailinglists" value="2" id="id_mailinglists_1">
                  <label for="id_mailinglists_1" class="form-check-label">
                    Team EEMob All
                  </label>
                </div>
                <div class="form-check">
                  <input type="checkbox" class="form-check-input" name="mailinglists" value="3" id="id_mailinglists_2">
                  <label for="id_mailinglists_2" class="form-check-label">
                    Team Off-Grid MA
                  </label>
                </div>
                <div class="form-check">
                  <input type="checkbox" class="form-check-input" name="mailinglists" value="4" id="id_mailinglists_3">
                  <label for="id_mailinglists_3" class="form-check-label">
                    Team OG All
                  </label>
                </div>
                <div class="form-check">
                  <input type="checkbox" class="form-check-input" name="mailinglists" value="5" id="id_mailinglists_4">
                  <label for="id_mailinglists_4" class="form-check-label">
                    Team TEO MA
                  </label>
                </div>
              </div>
              <div class="col">
                <div class="form-check">
                  <input type="checkbox" class="form-check-input" name="mailinglists" value="6" id="id_mailinglists_5">
                  <label for="id_mailinglists_5" class="form-check-label">
                    AG OA
                  </label>
                </div>
                <div class="form-check">
                  <input type="checkbox" class="form-check-input" name="mailinglists" value="7" id="id_mailinglists_6">
                  <label for="id_mailinglists_6" class="form-check-label">
                    RLS Kolleg
                  </label>
                </div>
                <div class="form-check">
                  <input type="checkbox" class="form-check-input" name="mailinglists" value="8" id="id_mailinglists_7">
                  <label for="id_mailinglists_7" class="form-check-label">
                    Promovierende
                  </label>
                </div>
                <div class="form-check">
                  <input type="checkbox" class="form-check-input" name="mailinglists" value="9" id="id_mailinglists_8">
                  <label for="id_mailinglists_8" class="form-check-label">
                    Team Admin
                  </label>
                </div>
                <div class="form-check">
                  <input type="checkbox" class="form-check-input" name="mailinglists" value="10" id="id_mailinglists_9">
                  <label for="id_mailinglists_9" class="form-check-label">
                    Team TEO All
                  </label>
                </div>
              </div>
              <div class="col">
                <div class="form-check">
                  <input type="checkbox" class="form-check-input" name="mailinglists" value="11"
                    id="id_mailinglists_10">
                  <label for="id_mailinglists_10" class="form-check-label">
                    Simulanten
                  </label>
                </div>
                <div class="form-check">
                  <input type="checkbox" class="form-check-input" name="mailinglists" value="12"
                    id="id_mailinglists_11">
                  <label for="id_mailinglists_11" class="form-check-label">
                    Github
                  </label>
                </div>
                <div class="form-check">
                  <input type="checkbox" class="form-check-input" name="mailinglists" value="13"
                    id="id_mailinglists_12">
                  <label for="id_mailinglists_12" class="form-check-label">
                    RLI_Py-Users
                  </label>
                </div>
                <div class="form-check">
                  <input type="checkbox" class="form-check-input" name="mailinglists" value="14"
                    id="id_mailinglists_13">
                  <label for="id_mailinglists_13" class="form-check-label">
                    Oemof
                  </label>
                </div>
                <div class="form-check">
                  <input type="checkbox" class="form-check-input" name="mailinglists" value="15"
                    id="id_mailinglists_14">
                  <label for="id_mailinglists_14" class="form-check-label">
                    Wam
                  </label>
                </div>
              </div>
            </div>
          </div>
        </div>
        <hr class="my-4">
        <div id="services">
          <h5 class="card-title">Zugänge</h5>
          <div class="row">
            <div class="col-sm-6">
              <div class="mb-3">
                <div id="div_id_db_access" class="mb-3">
                  <input type="checkbox" name="db_access" class="checkboxinput form-check-input" id="id_db_access">
                  <label for="id_db_access" class="form-check-label">
                    Datenbankzugang
                  </label>
                </div>
              </div>
            </div>
            <div class="col-sm-6">
              <div class="mb-3">
                <div id="div_id_nextcloud_access" class="mb-3">
                  <input type="checkbox" name="nextcloud_access" class="checkboxinput form-check-input"
                    id="id_nextcloud_access">
                  <label for="id_nextcloud_access" class="form-check-label">
                    Nextcloud-Zugang
                  </label>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div id="setup">
          <h5 class="card-title">PC Einrichtung</h5>
          <div class="row">
            <div class="col-sm-6">
              <div class="mb-3">
                <div id="div_id_pc_setup" class="mb-3">
                  <input type="checkbox" name="pc_setup" class="checkboxinput form-check-input" id="id_pc_setup">
                  <label for="id_pc_setup" class="form-check-label">
                    Benötigt PC Einrichtung
                  </label>
                </div>
              </div>
            </div>
            <div class="col-sm-6">
              <div id="div_id_os_system" class="mb-3">
                <label for="id_os_system" class="form-label requiredField">
                  Betriebssystem<span class="asteriskField">*</span>
                </label>
                <select name="os_system" class="select form-select" id="id_os_system">
                  <option value="Linux">Linux</option>
                  <option value="Windows">Windows</option>
                </select>
              </div>
            </div>
            <div class="col-sm-6">
              <div id="div_id_additional_software" class="mb-3">
                <label for="id_additional_software" class="form-label requiredField">
                  Zusätzlich benötigte Software<span class="asteriskField">*</span>
                </label>
                <textarea name="additional_software" cols="40" rows="10" class="textarea form-control" required
                  id="id_additional_software">
                </textarea>
              </div>
            </div>
          </div>
        </div>

        <div id="project_approvals container ">
          <input type="hidden" name="project_approvals-TOTAL_FORMS" value="1" id="id_project_approvals-TOTAL_FORMS">
          <input type="hidden" name="project_approvals-INITIAL_FORMS" value="0"
            id="id_project_approvals-INITIAL_FORMS">
          <input type="hidden" name="project_approvals-MIN_NUM_FORMS" value="0"
            id="id_project_approvals-MIN_NUM_FORMS">
          <input type="hidden" name="project_approvals-MAX_NUM_FORMS" value="1000"
            id="id_project_approvals-MAX_NUM_FORMS">


          <div class="row">
            <div class="col">
              <div class="pa-form ">
                <input type="hidden" name="csrfmiddlewaretoken"
                  value="R4b2Z4N92apLmV3mTYKP08dzdpi8Lqwq54Tv5FoUAM8HuoXpKUE01rKdXvYE0HAQ">
                <div id="div_id_project_approvals-0-project" class="mb-3"> <label for="id_project_approvals-0-project"
                    class="form-label requiredField">
                    Projekt<span class="asteriskField">*</span> </label> <select name="project_approvals-0-project"
                    class="select form-select" id="id_project_approvals-0-project">
                    <option value="" selected>---------</option>
                    <option value="316">307_Berlin_pariskonform</option>
                    <option value="311">304_ASEP_Phil2</option>
                  </select>
                </div>
                <div id="div_id_project_approvals-0-akquise" class="mb-3"> <label for="id_project_approvals-0-akquise"
                    class="form-label requiredField">
                    Akquise<span class="asteriskField">*</span> </label>
                  <select name="project_approvals-0-akquise" class="select form-select"
                    id="id_project_approvals-0-akquise">
                    <option value="0">NoApproval</option>
                    <option value="1">Read</option>
                    <option value="2">Write</option>
                  </select>
                </div>
              </div>
            </div>
            <div class="col">
              <input type="hidden" name="csrfmiddlewaretoken"
                value="R4b2Z4N92apLmV3mTYKP08dzdpi8Lqwq54Tv5FoUAM8HuoXpKUE01rKdXvYE0HAQ">
              <div id="div_id_project_approvals-0-project" class="mb-3"> <label for="id_project_approvals-0-project"
                  class="form-label requiredField">
                  Projekt<span class="asteriskField">*</span> </label> <select name="project_approvals-0-project"
                  class="select form-select" id="id_project_approvals-0-project">
                  <option value="" selected>---------</option>
                  <option value="316">307_Berlin_pariskonform</option>
                  <option value="311">304_ASEP_Phil2</option>
                </select>
              </div>
              <div id="div_id_project_approvals-0-akquise" class="mb-3"> <label for="id_project_approvals-0-akquise"
                  class="form-label requiredField">
                  Akquise<span class="asteriskField">*</span> </label>
                <select name="project_approvals-0-akquise" class="select form-select"
                  id="id_project_approvals-0-akquise">
                  <option value="0">NoApproval</option>
                  <option value="1">Read</option>
                  <option value="2">Write</option>
                </select>
              </div>
            </div>
            <div class="col">
              <input type="hidden" name="csrfmiddlewaretoken"
                value="R4b2Z4N92apLmV3mTYKP08dzdpi8Lqwq54Tv5FoUAM8HuoXpKUE01rKdXvYE0HAQ">
              <div id="div_id_project_approvals-0-project" class="mb-3"> <label for="id_project_approvals-0-project"
                  class="form-label requiredField">
                  Projekt<span class="asteriskField">*</span> </label> <select name="project_approvals-0-project"
                  class="select form-select" id="id_project_approvals-0-project">
                  <option value="" selected>---------</option>
                  <option value="316">307_Berlin_pariskonform</option>
                  <option value="311">304_ASEP_Phil2</option>
                </select>
              </div>
              <div id="div_id_project_approvals-0-akquise" class="mb-3"> <label for="id_project_approvals-0-akquise"
                  class="form-label requiredField">
                  Akquise<span class="asteriskField">*</span> </label>
                <select name="project_approvals-0-akquise" class="select form-select"
                  id="id_project_approvals-0-akquise">
                  <option value="0">NoApproval</option>
                  <option value="1">Read</option>
                  <option value="2">Write</option>
                </select>
              </div>
            </div>
          </div>
          <button id="add-project_approval" type="button">Projekt hinzufügen</button>
        </div>
      </div>
    </form>

  </div>
</main>
{% endblock content %}

{% block js %}
{{ super() }}

<script>
  <!--From https://www.brennantymrak.com/articles/django-dynamic-formsets-javascript-->;

  const form_name = "project_approvals";

  const projectApprovalForm = document.querySelectorAll(".pa-form");
  const container = document.querySelector(`#${form_name}`);
  const addButton = document.querySelector("#add-project_approval");
  const totalForms = document.querySelector(`#id_${form_name}-TOTAL_FORMS`);

  let formNum = projectApprovalForm.length - 1;
  addButton.addEventListener('click', addForm);

  function addForm(e) {
    e.preventDefault();

    let newForm = projectApprovalForm[0].cloneNode(true);
    let formRegex = RegExp(`${form_name}-(\\d){1}-`, 'g');

    formNum++;
    newForm.innerHTML = newForm.innerHTML.replace(formRegex, `${form_name}-${formNum}-`);
    container.insertBefore(newForm, addButton);

    totalForms.setAttribute('value', `${formNum + 1}`);
  }

  var applicationtypeObject = {
    "Einstellung " : [
    "MA",
     "Student_in",
      "Praktikant_in",
       "Bufdi",
        "Gast-WiMa"   
  ],
  "Verlängerung": [
  "MA",
  "Student_in",
   "Praktikant_in",
  ],
  " Änderung" : [
  "Bufdi",
  "Gast-WiMa"   
  ],
}
</script>

{% endblock js %}